Language: ru.tag

[1]  дай_/Vmm-2s-a-p_/дать нам_/P-1-pdn_/мы быть_/Vmn----a-e_/быть любовниками_/Ncmpiy_/любовник и_/C_/и быть_/Vmn----a-e_/быть любимыми_/Afpmpif_/любимый ;_/-_/; 
[2]  интересовала_/Vmis-sfa-e_/интересовать любовь_/Ncfsnn_/любовь ,_/,_/, а_/C_/а не_/Q_/не война_/Ncfsnn_/война ._/SENT_/. 
[3]  дай_/Vmm-2s-a-p_/дать нам_/P-1-pdn_/мы быть_/Vmn----a-e_/быть любовниками_/Ncmpiy_/любовник и_/C_/и быть_/Vmn----a-e_/быть любимыми_/Afpmpif_/любимый ;_/-_/; 
[4]  интересовала_/Vmis-sfa-e_/интересовать любовь_/Ncfsnn_/любовь ,_/,_/, а_/C_/а не_/Q_/не война_/Ncfsnn_/война ._/SENT_/. 
[5]  но_/C_/но отказался_/Vmis-smm-p_/отказаться от_/Sp-g_/от любви_/Ncfsgn_/любовь к_/Sp-d_/к музыке_/Ncfsdn_/музыка ради_/Sp-g_/ради карьеры_/Ncfsgn_/карьера 
[6]  и_/C_/и это_/P--nsna_/этот слово_/Ncnsnn_/слово ,_/,_/, милая_/Afpfsnf_/милый ,_/,_/, будет_/Vmif3s-a-e_/быть "_/-_/" Бейзингсток_/Ncmsnn_/<unknown> "_/-_/" ._/SENT_/. 
[7]  что_/C_/что мы_/P-1-pnn_/мы встретим_/Vmif1p-a-p_/встретить любовь_/Ncfsan_/любовь ,_/,_/, будем_/Vmif1p-a-e_/быть здоровыми_/Afpmpif_/здоровый и_/C_/и успешными_/Afpmpif_/успешный ,_/,_/, 
[8]  любовь_/Ncfsnn_/любовь ,_/,_/, устойчивые_/Afpmpnf_/устойчивый человеческие_/Afpmpnf_/человеческий ценности_/Ncfpnn_/ценность ,_/,_/, 
[9]  И_/C_/и все_/P--nsna_/весь это_/P--nsnn_/это окутано_/Vmps-snpsp_/окутать такой_/P--fsga_/такой бескорыстной_/Afpfsgf_/бескорыстный любовью_/Ncfsin_/любовь ,_/,_/, 
[10]  вот_/Q_/вот любовь_/Ncfsnn_/любовь всей_/P--fsga_/весь мой_/P--msna_/мой жизни_/Ncfsln_/жизнь ,_/,_/, моя_/P--fsna_/мой дочка_/Ncfsny_/дочка Джэй_/Afpmsnf_/джэй ._/SENT_/. 
[11]  Поэт_/Ncmsny_/поэт Оден_/Npmsny_/<unknown> сказал_/Vmis-sma-p_/сказать :_/-_/: "_/-_/" Тысячи_/Ncfpnn_/тысяча прожили_/Vmis-p-a-p_/прожить без_/Sp-g_/без любви_/Ncfsgn_/любовь ._/SENT_/. 
[12]  И_/C_/и под_/Sp-a_/под конец_/Ncmsan_/конец :_/-_/: Когда_/C_/когда вы_/P-2-pnn_/вы оцените_/Vmm-2p-a-p_/оценить такие_/P---paa_/такой вещи_/Ncfpan_/вещь как_/C_/как здоровье_/Ncnsan_/здоровье ,_/,_/, 
[13]  что_/C_/что решения_/Ncnsgn_/решение людей_/Ncmpgy_/человек о_/Sp-l_/о их_/P-----a_/их любимых_/Afpmplf_/любимый 
[14]  тем_/P--nsin_/то больше_/Rc_/много это_/P--nsnn_/это кажется_/Vmip3s-m-e_/казаться похожим_/Afpnsif_/похожий на_/Sp-g_/на своего_/P--msga_/свой рода_/Ncmsgn_/род любовь_/Ncfsnn_/любовь ,_/,_/, 
[15]  И_/C_/и моя_/P--fsna_/мой любовь_/Ncfsnn_/любовь к_/Sp-d_/к научной_/Afpfsdf_/научный фантастике_/Ncfsdn_/фантастика 
[16]  И_/C_/и моя_/P--fsna_/мой любовь_/Ncfsnn_/любовь к_/Sp-d_/к океану_/Ncmsdn_/океан продолжается_/Vmip3s-m-e_/продолжаться 
[17]  Это_/P--nsnn_/это будет_/Vmif3s-a-e_/быть такая_/P--fsna_/такой эпическая_/Afpfsnf_/эпический романтическая_/Afpfsnf_/романтический история_/Ncfsnn_/история ,_/,_/, 
[18]  возможности_/Ncfpnn_/возможность любви_/Ncfsgn_/любовь —_/-_/— 
[19]  Готовы_/Afpmpns_/готовый ли_/Q_/ли мы_/P-1-pnn_/мы имплантировать_/Vmn----a-e_/<unknown> это_/P--nsan_/это в_/Sp-a_/в свою_/P--fsaa_/свой любимую_/Afpfsaf_/любимый ,_/,_/, в_/Sp-a_/в своего_/P--msaa_/свой ребенка_/Ncmsay_/ребенок ,_/,_/, 
[20]  но_/C_/но в_/Sp-l_/в Англии_/Ncfsln_/англия у_/Sp-g_/у него_/P-3msgn_/он была_/Vmis-sfa-e_/быть девушка_/Ncfsny_/девушка ._/SENT_/. Любовь_/Ncfsnn_/любовь всей_/P--fsga_/весь его_/P-----a_/его жизни_/Ncfsgn_/жизнь ,_/,_/, Сара_/Npfsny_/сара ,_/,_/, 
[21]  Маленькое_/Afpnsnf_/маленький проявление_/Ncnsnn_/проявление любви_/Ncfsgn_/любовь моего_/P--msga_/мой приёмного_/Afpmsgf_/<unknown> отца_/Ncmsgy_/отец 
[22]  даже_/Q_/даже самым_/P--nsia_/самый маленьким_/Afpnsif_/маленький проявлением_/Ncnsin_/проявление любви_/Ncfsgn_/любовь ._/SENT_/. 
[23]  ваше_/P--nsna_/ваш проявление_/Ncnsnn_/проявление любви_/Ncfsgn_/любовь и_/C_/и заботы_/Ncfsgn_/забота 
[24]  что_/C_/что моя_/P--fsna_/мой любовь_/Ncfsnn_/любовь к_/Sp-d_/к машинам_/Ncfpdn_/машина и_/C_/и грузовикам_/Ncfpdn_/<unknown> 
[25]  Это_/P--nsnn_/это было_/Vmis-sna-e_/быть лето_/Ncnsnn_/лето любви_/Ncfsgn_/любовь ,_/,_/, если_/C_/если вы_/P-2-pnn_/вы были_/Vmis-p-a-e_/быть белым_/Afpmsif_/белый ._/SENT_/. 
[26]  Моя_/P--fsna_/мой приёмная_/Afpfsnf_/приёмная мать_/Ncfsny_/мать попросила_/Vmis-sfa-p_/попросить ,_/,_/, чтоб_/C_/чтоб я_/P-1-snn_/я ушёл_/Vmis-sma-p_/ушёл и_/C_/и подумал_/Vmis-sma-p_/подумать ,_/,_/, что_/P--nsnn_/что такое_/P--nsna_/такой любовь_/Ncfsnn_/любовь ,_/,_/, 
[27]  поиска_/Ncmsgn_/поиск любви_/Ncfsgn_/любовь ,_/,_/, место_/Ncnsnn_/место ,_/,_/, где_/P-----r_/где рассогласованность_/Ncfsnn_/<unknown> 
[28]  Любовь_/Ncfsnn_/любовь и_/C_/и мир_/Ncmsnn_/мир упоминались_/Vmis-p-m-e_/упоминаться ._/SENT_/. 
[29]  Крис_/Npmsny_/крис А_/C_/а :_/-_/: Любовь_/Ncfsnn_/любовь и_/C_/и мир_/Ncmsnn_/мир упоминались_/Vmis-p-m-e_/упоминаться 
[30]  Мапендо_/Npmsny_/<unknown> на_/Sp-a_/на суахили_/Ncmsgn_/суахили значит_/R_/значит "_/-_/" великая_/Afpfsnf_/великий любовь_/Ncfsnn_/любовь "_/-_/" ._/SENT_/. 
[31]  "_/-_/" Любовь_/Ncfsnn_/любовь и_/C_/и сострадание_/Ncnsnn_/сострадание -_/-_/- это_/P--nsnn_/это предметы_/Ncmpnn_/предмет первой_/Mofsg_/первой необходимости_/Ncfsgn_/необходимость ._/SENT_/. 
[32]  в_/Sp-a_/в Будду_/Npmsay_/будда любви_/Ncfsgn_/любовь и_/C_/и доброты_/Ncfsgn_/доброта ._/SENT_/. 
[33]  Это_/P--nsnn_/это энергия_/Ncfsnn_/энергия ,_/,_/, любовь_/Ncfsnn_/любовь и_/C_/и радость_/Ncfsnn_/радость ._/SENT_/. 
[34]  это_/P--nsnn_/это любовь_/Ncfsnn_/любовь и_/C_/и работа_/Ncfsnn_/работа ._/SENT_/. 
[35]  Любовь_/Ncfsnn_/любовь -_/-_/- успешное_/Afpnsnf_/успешный управление_/Ncnsnn_/управление 
[36]  В_/Sp-l_/в воздухе_/Ncmsln_/воздух витает_/Vmip3s-a-e_/витать любовь_/Ncfsnn_/любовь ._/SENT_/. 
[37]  Я_/P-1-snn_/я бесконечно_/R_/бесконечно люблю_/Vmip1s-a-e_/любить свое_/P--nsaa_/свой дело_/Ncnsan_/дело ._/SENT_/. 
[38]  за_/Sp-a_/за то_/P--nsan_/то ,_/,_/, что_/C_/что у_/Sp-g_/у тебя_/P-2-sgn_/ты хватило_/Vmis-sna-p_/хватить настойчивости_/Ncfsgn_/настойчивость и_/C_/и любви_/Ncfsgn_/любовь 
[39]  Этот_/P--msna_/этот проект_/Ncmsnn_/проект называется_/Vmip3s-m-e_/называться «Любовные_/Mc---d_/<unknown> гнёздышки»_/Ncmsgn_/<unknown> ._/SENT_/. 
[40]  Это_/P--nsnn_/это называется_/Vmip3s-m-e_/называться «Гнездо_/R_/<unknown> из_/Sp-g_/из локонов»_/Ncfsgn_/<unknown> ._/SENT_/. 
[41]  Это_/P--nsnn_/это –_/-_/– «Гнездо_/Ncnsnn_/<unknown> из_/Sp-g_/из записей_/Ncfpgn_/запись любовных_/Afpmpgf_/любовный песен»_/Ncmpgn_/<unknown> ._/SENT_/. 
[42]  А_/C_/а это_/P--nsnn_/это –_/-_/– «Гнездо_/Ncnsnn_/<unknown> для_/Sp-g_/для занятия_/Ncnsgn_/занятие любовью»_/Ncfsgn_/<unknown> ._/SENT_/. 
[43]  Прежде_/Sp-g_/прежде всего_/P--nsgn_/все ,_/,_/, я_/P-1-snn_/я научилась_/Vmis-sfm-p_/научиться любить_/Vmn----a-e_/любить ._/SENT_/. 
[44]  Любовь_/Npfsny_/любовь это_/P--nsaa_/этот нечто_/P--nsan_/нечто ,_/,_/, что_/P--nsan_/что вы_/P-2-pnn_/вы обнаруживаете_/Vmip2p-a-e_/обнаруживать ._/SENT_/. 
[45]  В_/Sp-l_/в основе_/Ncfsln_/основа всего_/P--nsgn_/все —_/-_/— любовь_/Ncfsnn_/любовь ._/SENT_/. 
[46]  то_/P--nsnn_/то ,_/,_/, что_/P--nsan_/что мы_/P-1-pnn_/мы называем_/Vmip1p-a-e_/называть любовью_/Ncfsin_/любовь ,_/,_/, 
[47]  и_/C_/и возьмём_/Vmif1p-a-p_/возьмём заботу_/Ncfsan_/забота ,_/,_/, любовь_/Ncfsan_/любовь и_/C_/и уважение_/Ncnsan_/уважение 
[48]  и_/C_/и ,_/,_/, иногда_/R_/иногда ,_/,_/, даже_/Q_/даже элементах_/Ncmpln_/элемент любви_/Ncfsgn_/любовь ._/SENT_/. 
[49]  "_/-_/" Лучше_/Rc_/хорошо быть_/Vmn----a-e_/быть во_/Sp-a_/во что-то_/Ncnsan_/<unknown> вовлеченным_/Vmps-smpfpi_/вовлечь ,_/,_/, 
[50]  сострадания_/Ncnsgn_/сострадание и_/C_/и любви_/Ncfsgn_/любовь ,_/,_/, 
[51]  любви_/Ncfsgn_/любовь ,_/,_/, сопереживанию_/Ncnsdn_/<unknown> ,_/,_/, способности_/Ncfpan_/способность придумывать_/Vmn----a-e_/придумывать 
[52]  и_/C_/и обществу_/Ncnsdn_/общество и_/C_/и любви_/Ncfsdn_/любовь ._/SENT_/. 
[53]  Анонимы_/Ncmpnn_/<unknown> :_/-_/: Уважаемые_/Afpmpnf_/уважаемый Fox_/-_/fox News_/-_/news ,_/,_/, 
[54]  Я_/P-1-snn_/я хочу_/Vmip1s-a-e_/хотеть рассказать_/Vmn----a-p_/рассказать вам_/P-2-pdn_/вы о_/Sp-l_/о «безумной_/Afpfslf_/<unknown> любви»_/Ncfsln_/<unknown> ,_/,_/, 
[55]  психологической_/Afpfslf_/психологический ловушке_/Ncfsln_/ловушка ,_/,_/, замаскированной_/Vmps-sfpfpl_/<unknown> под_/Sp-a_/под любовь_/Ncfsan_/любовь ,_/,_/, 
[56]  Я_/P-1-snn_/я смогла_/Vmis-sfa-p_/смочь положить_/Vmn----a-p_/положить конец_/Ncmsan_/конец своей_/P--fsga_/свой «безумной_/Afpfsgf_/<unknown> любви»_/Ncfsgn_/<unknown> ,_/,_/, 
[57]  стихи_/Ncmpan_/стихи о_/Sp-l_/о любви_/Ncfsln_/любовь ,_/,_/, не_/Q_/не похожие_/Afpmpnf_/похожий ни_/Q_/ни на_/Sp-a_/на что_/P--nsan_/что ,_/,_/, что_/P--nsan_/что мне_/P-1-sdn_/я доводилось_/Vmis-snm-e_/доводиться раньше_/Rc_/рано слышать_/Vmn----a-e_/слышать ._/SENT_/. 
[58]  лежит_/Vmip3s-a-e_/лежать через_/Sp-a_/через обещание_/Ncnsan_/обещание секса_/Ncmsgn_/секс и_/C_/и любви_/Ncfsgn_/любовь ._/SENT_/. 
[59]  но_/C_/но любовь_/Ncfsnn_/любовь не_/Q_/не была_/Vmis-sfa-e_/быть одним_/P--msia_/один из_/Sp-g_/из них_/P-3-pgn_/они ._/SENT_/. 
[60]  ее_/P-----a_/ее имя_/Ncnsnn_/имя означает_/Vmip3s-a-e_/означать "_/-_/" любовь_/Ncfsnn_/любовь "_/-_/" -_/-_/- 
[61]  и_/C_/и любовь_/Ncfsnn_/любовь и_/C_/и сострадание_/Ncnsnn_/сострадание во_/Sp-l_/во всем_/P--nsln_/все ,_/,_/, что_/P--nsnn_/что касается_/Vmip3s-m-e_/касаться жизни_/Ncfsgn_/жизнь на_/Sp-l_/на земле_/Ncfsln_/земля ._/SENT_/. 
[62]  храбрости_/Ncfsgn_/храбрость ,_/,_/, столько_/Mc--n_/столько любви_/Ncfsgn_/любовь и_/C_/и сострадания_/Ncnsgn_/сострадание ._/SENT_/. 
[63]  а_/C_/а самый_/P--msna_/самый лучший_/Afpmsnf_/лучший компьютер_/Ncmsnn_/компьютер ._/SENT_/. Вы_/P-2-pnn_/вы дали_/Vmis-p-a-p_/дать им_/P-3-pdn_/они любовь_/Ncfsnn_/любовь ,_/,_/, радость_/Ncfsnn_/радость ._/SENT_/. 
[64]  несмотря_/Vmgp---a-e_/несмотреть на_/Sp-a_/на всю_/P--fsaa_/весь эту_/P--fsaa_/этот любовь_/Ncfsan_/любовь ,_/,_/, образование_/Ncnsan_/образование ,_/,_/, деньги_/Ncmpan_/деньги и_/C_/и происхождение_/Ncnsan_/происхождение ,_/,_/, 
[65]  и_/C_/и там_/P-----r_/там вы_/P-2-pnn_/вы встретили_/Vmis-p-a-p_/встретить любовь_/Ncfsan_/любовь всей_/P--fsga_/весь жизни_/Ncfsgn_/жизнь ._/SENT_/. 
[66]  Вот_/Q_/вот что_/C_/что нам_/P-1-pdn_/мы действительно_/R_/действительно нужно_/Afpnsns_/нужный :_/-_/: единение_/Ncnsnn_/единение и_/C_/и любовь_/Ncfsnn_/любовь —_/-_/— четвертая_/Mofsn_/четвертая потребность_/Ncfsnn_/потребность ._/SENT_/. 
[67]  потому_/P-----r_/потому что_/C_/что любить_/Vmn----a-e_/любить слишком_/R_/слишком страшно_/R_/страшно ._/SENT_/. Не_/Q_/не хочется_/Vmip3s-m-e_/хотеться страдать_/Vmn----a-e_/страдать ._/SENT_/. 
[68]  или_/C_/или любовь_/Ncfsnn_/любовь ?_/SENT_/? Мы_/P-1-pnn_/мы испытываем_/Vmip1p-a-e_/испытывать потребность_/Ncfsan_/потребность во_/Sp-l_/во всех_/P---pla_/весь шести_/Mc--l_/шести ,_/,_/, 
[69]  Каждый_/P--msna_/каждый имеет_/Vmip3s-a-e_/иметь романтическую_/Afpfsaf_/романтический связь_/Ncfsan_/связь ,_/,_/, 
[70]  работой_/Ncfsin_/работа ,_/,_/, воспитанием_/Ncnsin_/воспитание детей_/Ncnpgy_/дитя ,_/,_/, любовью_/Ncfsin_/любовь ,_/,_/, отдыхом_/Ncmsin_/отдых ._/SENT_/. Это_/P--nsnn_/это когда_/C_/когда время_/Ncnsnn_/время пролетает_/Vmip3s-a-e_/пролетать незаметно_/R_/незаметно ._/SENT_/. 
[71]  Но_/C_/но вот_/Q_/вот в_/Sp-l_/в третьей_/Mofsl_/третьей важной_/Afpfslf_/важный сфере_/Ncfsln_/сфера ,_/,_/, любви_/Ncfsln_/любовь ,_/,_/, Лен_/Npmsny_/лен –_/-_/– безнадёжный_/Afpmsnf_/<unknown> неудачник_/Ncmsny_/неудачник ._/SENT_/. 
[72]  Преобразовать_/Vmn----a-p_/преобразовать работу_/Ncfsan_/работа ,_/,_/, любовь_/Ncfsnn_/любовь ,_/,_/, 
[73]  Эрез_/Ncmsnn_/<unknown> Либерман_/Npmsny_/либерман Айден_/Npmsny_/<unknown> :_/-_/: Все_/P---pnn_/все знают_/Vmip3p-a-e_/знать ,_/,_/, 
[74]  ничто_/P--nsnn_/ничто не_/Q_/не станет_/Vmif3s-a-p_/стать ни_/Q_/ни малейшим_/Afpnsif_/малейший препятствием_/Ncnsin_/препятствие 
[75]  В_/Sp-l_/в этих_/P---pla_/этот строках_/Ncfpln_/строка ,_/,_/, написанных_/Vmps-p-pfpl_/написать 
[76]  Это_/P--nsna_/этот выражение_/Ncnsnn_/выражение любви_/Ncfsgn_/любовь ._/SENT_/. Это_/P--nsna_/этот выражение_/Ncnsnn_/выражение ..._/Vmif3s-a-p_/<unknown> 
[77]  Искусство_/Ncnsnn_/искусство ,_/,_/, как_/C_/как понимал_/Vmis-sma-e_/понимать его_/P-3msan_/он Платон_/Npmsny_/платон ,_/,_/, это_/P--nsnn_/это правда_/Ncfsnn_/правда ;_/-_/; это_/P--nsnn_/это красота_/Ncfsnn_/красота и_/C_/и любовь_/Ncfsnn_/любовь ._/SENT_/. 
[78]  Нам_/P-1-pdn_/мы несложно_/R_/несложно поговорить_/Vmn----a-p_/поговорить о_/Sp-l_/о любви_/Ncfsln_/любовь ._/SENT_/. 
[79]  И_/C_/и ,_/,_/, на_/Sp-a_/на мой_/P--msaa_/мой взгляд_/Ncmsan_/взгляд ,_/,_/, это_/P--nsna_/этот познание_/Ncnsnn_/познание любви_/Ncfsgn_/любовь и_/C_/и познание_/Ncnsnn_/познание дизайна_/Ncmsgn_/дизайн 
[80]  Я_/P-1-snn_/я сделал_/Vmis-sma-p_/сделать кое-какие_/Afpmpaf_/<unknown> открытия_/Ncnpan_/открытие в_/Sp-l_/в отношении_/Ncnsln_/отношение любви_/Ncfsgn_/любовь и_/C_/и дизайна_/Ncmsgn_/дизайн благодаря_/Sp-d_/благодаря проекту_/Ncmsdn_/проект Deep_/-_/deep Blue_/-_/blue ._/SENT_/. 
[81]  знаете_/Vmip2p-a-e_/знать ли_/Q_/ли вы_/P-2-pnn_/вы ,_/,_/, что_/C_/что можно_/R_/можно убрать_/Vmn----a-p_/убрать слово_/Ncnsan_/слово «Любовь»_/-_/<unknown> из_/Sp-g_/из многих_/P---pga_/многий сфер_/Ncfpgn_/сфера нашей_/P--fsga_/наш жизни_/Ncfsgn_/жизнь ,_/,_/, 
[82]  Он_/P-3msnn_/он сказал_/Vmis-sma-p_/сказать :_/-_/: «Любовь_/-_/<unknown> бескорыстна»_/R_/<unknown> ,_/,_/, он_/P-3msnn_/он сказал_/Vmis-sma-p_/сказать :_/-_/: 
[83]  «Любовь_/-_/<unknown> не_/Q_/не означает_/Vmip3s-a-e_/означать ,_/,_/, сколько_/Mc--a_/сколько раз_/Ncmpgn_/раз ты_/P-2-snn_/ты сказал_/Vmis-sma-p_/сказать “_/-_/“ Я_/P-1-snn_/я тебя_/P-2-san_/ты люблю_/Vmip1s-a-e_/любить ”_/-_/” ._/SENT_/. 
[84]  Любовь_/Ncfsnn_/любовь бескорыстна»_/Afpfsnf_/<unknown> ._/SENT_/. И_/C_/и я_/P-1-snn_/я думал_/Vmis-sma-e_/думать об_/Sp-l_/об этом_/P--nsln_/это и_/C_/и понял_/Vmis-sma-p_/понять ,_/,_/, 
[85]  что_/C_/что я_/P-1-snn_/я здесь_/P-----r_/здесь точно_/R_/точно не_/Q_/не излучаю_/Vmip1s-a-e_/<unknown> любовь_/Ncfsan_/любовь ._/SENT_/. 
[86]  Мы_/P-1-pnn_/мы снова_/R_/снова сделали_/Vmis-p-a-p_/сделать автомобиль_/Ncmsan_/автомобиль центром_/Ncmsin_/центр нашего_/P--nsga_/наш внимания_/Ncnsgn_/внимание ,_/,_/, и_/C_/и я_/P-1-snn_/я думаю_/Vmip1s-a-e_/думать ,_/,_/, 
[87]  О_/Sp-l_/о любви_/Ncfsln_/любовь и_/C_/и доверии_/Ncnsln_/доверие можно_/R_/можно ещё_/Ncmsnn_/ещё много_/Mc--n_/много чего_/P--nsgn_/что сказать_/Vmn----a-p_/сказать ,_/,_/, 
[88]  И_/C_/и именно_/Q_/именно благодаря_/Sp-d_/благодаря доверию_/Ncnsdn_/доверие и_/C_/и любви_/Ncfsdn_/любовь это_/P--nsnn_/это приобретает_/Vmip3s-a-e_/приобретать смысл_/Ncmsnn_/смысл ._/SENT_/. 
[89]  «Боже_/-_/<unknown> правый_/Ncmsny_/правый ,_/,_/, этот_/P--msna_/этот ребёнок_/Ncmsny_/ребёнок уже_/R_/уже пошёл_/Vmis-sma-p_/пошёл [_/-_/[ по_/Sp-d_/по ложному_/Afpnsdf_/ложный пути]»_/Ncnsdn_/<unknown> 
[90]  Это_/P--nsnn_/это была_/Vmis-sfa-e_/быть любовь_/Ncfsnn_/любовь с_/Sp-g_/с первого_/Momsg_/первый взгляда_/Ncmsgn_/взгляд ._/SENT_/. 
[91]  С_/Sp-g_/с чего_/P--nsgn_/что всё_/Ncmsnn_/всё начинается_/Vmip3s-m-e_/начинаться ?_/SENT_/? Только_/Q_/только посмотрите_/Vmm-2p-a-p_/посмотреть на_/Sp-a_/на то_/P--nsan_/то ,_/,_/, как_/C_/как внимателен_/Afpmsns_/внимательный Хосе_/Npmsgy_/хосе к_/Sp-d_/к мелочам_/Ncfpdn_/мелочь ._/SENT_/. 
[92]  Но_/C_/но прежде_/Sp-g_/прежде всего_/P--nsgn_/все ,_/,_/, просто_/Q_/просто любите_/Vmip2p-a-e_/любить их_/P-3-pan_/они ._/SENT_/. 
[93]  Ничто_/P--nsnn_/ничто не_/Q_/не может_/Vmip3s-a-e_/мочь заменить_/Vmn----a-p_/заменить безграничную_/Afpfsaf_/безграничный любовь_/Ncfsan_/любовь ._/SENT_/. 
[94]  знает_/Vmip3s-a-e_/знать ,_/,_/, что_/C_/что любовь_/Ncfsnn_/любовь делает_/Vmip3s-a-e_/делать вещи_/Ncfpan_/вещь настоящими_/Afpmpif_/настоящий ._/SENT_/. 
[95]  Увлечение_/Ncnsnn_/увлечение —_/-_/— это_/P--nsnn_/это ваша_/P--fsna_/ваш величайшая_/Afpfsnf_/величайший любовь_/Ncfsnn_/любовь ._/SENT_/. 
[96]  вашу_/P--fsaa_/ваш величайшую_/Afpfsaf_/величайший любовь_/Ncfsan_/любовь по_/Sp-d_/по сравнению_/Ncnsdn_/сравнение со_/Sp-i_/со всем_/P--nsia_/весь остальным_/Ncnsin_/остальное ,_/,_/, 
[97]  его_/P-----a_/его любви_/Ncfsgn_/любовь к_/Sp-d_/к ней_/P-3fsdn_/она ._/SENT_/. 
[98]  одного_/P--msga_/один -_/-_/- любви_/Ncfsgn_/любовь -_/-_/- 
[99]  любви_/Ncfsgn_/любовь к_/Sp-d_/к своей_/P--fsda_/свой стране_/Ncfsdn_/страна ,_/,_/, любви_/Ncfsdn_/любовь к_/Sp-d_/к подъему_/Afpmsdf_/<unknown> 
[100]  любви_/Ncfsgn_/любовь и_/C_/и уважения_/Ncnsgn_/уважение 
[101]  любви_/Ncfsgn_/любовь и_/C_/и уважения_/Ncnsgn_/уважение к_/Sp-d_/к самому_/P--msda_/самый себе_/P----dn_/себя ,_/,_/, 
[102]  т.е_/Ncnsnn_/<unknown> ._/SENT_/. ,_/,_/, они_/P-3-pnn_/они делают_/Vmip3p-a-e_/делать это_/P--nsan_/это из_/Sp-g_/из любви_/Ncfsgn_/любовь к_/Sp-d_/к этому_/P--msda_/этот --_/-_/-- 
[103]  дай_/Vmm-2s-a-p_/дать нам_/P-1-pdn_/мы быть_/Vmn----a-e_/быть любовниками_/Ncmpiy_/любовник и_/C_/и быть_/Vmn----a-e_/быть любимыми_/Afpmpif_/любимый ;_/-_/; 
[104]  после_/Sp-g_/после получения_/Ncnsgn_/получение жалобы_/Ncfsgn_/жалоба от_/Sp-g_/от сенатора_/Ncmsgy_/сенатор Джо_/Npmsgy_/джо Либермана_/Npmsgy_/<unknown> ,_/,_/, 
[105]  также_/Q_/также учат_/Vmip3p-a-e_/учить нас_/P-1-pan_/мы любви_/Ncfsdn_/любовь и_/C_/и доверию_/Ncnsdn_/доверие ._/SENT_/. 
[106]  эта_/P--fsna_/этот любовь_/Ncfsnn_/любовь чувствовалась_/Vmis-sfm-e_/чувствоваться в_/Sp-l_/в проповедях_/Ncfpln_/проповедь ,_/,_/, 
[107]  присоединиться_/Vmn----m-p_/присоединиться к_/Sp-d_/к нам_/P-1-pdn_/мы на_/Sp-l_/на сцене_/Ncfsln_/сцена на_/Sp-a_/на несколько_/Mc--a_/несколько песен_/Ncfpgn_/песня 
[108]  45-летней_/Afpfsif_/<unknown> историей_/Ncfsin_/история любви_/Ncfsgn_/любовь 
[109]  и_/C_/и точно_/R_/точно не_/Q_/не проявляют_/Vmip3p-a-e_/проявлять к_/Sp-d_/к ним_/P-3-pdn_/они никакой_/P--fsga_/никакой любви_/Ncfsgn_/любовь ._/SENT_/. 
[110]  И_/C_/и мы_/P-1-pnn_/мы боимся_/Vmip1p-m-e_/бояться ,_/,_/, как_/C_/как молодые_/Afpmpnf_/молодой влюблённые_/Afpmpnf_/влюблённые ,_/,_/, 
[111]  потому_/P-----r_/потому что_/C_/что ,_/,_/, когда_/C_/когда я_/P-1-snn_/я спрашивала_/Vmis-sfa-e_/спрашивать людей_/Ncmpay_/человек о_/Sp-l_/о любви_/Ncfsln_/любовь ,_/,_/, 
[112]  у_/Sp-g_/у этих_/P---pga_/этот людей_/Ncmpgy_/человек сильное_/Afpnsnf_/сильный чувство_/Ncnsnn_/чувство любви_/Ncfsgn_/любовь и_/C_/и принятия_/Ncnsgn_/принятие -_/-_/- 
[113]  сильное_/Afpnsnf_/сильный чувство_/Ncnsnn_/чувство любви_/Ncfsgn_/любовь и_/C_/и принятия_/Ncnsgn_/принятие ,_/,_/, 
[114]  сильное_/Afpnsnf_/сильный чувство_/Ncnsnn_/чувство любви_/Ncfsgn_/любовь и_/C_/и принятия_/Ncnsgn_/принятие ,_/,_/, 
[115]  верят_/Vmip3p-a-e_/верить в_/Sp-a_/в то_/P--nsan_/то ,_/,_/, что_/P--nsan_/что они_/P-3-pnn_/они достойны_/Afpmpns_/достойный любви_/Ncfsgn_/любовь и_/C_/и принятия_/Ncnsgn_/принятие ._/SENT_/. 
[116]  принятие_/Ncnsnn_/принятие ,_/,_/, любовь_/Ncfsnn_/любовь ._/SENT_/. 
[117]  но_/C_/но ты_/P-2-snn_/ты достойна_/Afpfsns_/достойный любви_/Ncfsgn_/любовь и_/C_/и принятия_/Ncnsgn_/принятие "_/-_/" ._/SENT_/. 
[118]  «Нашёл_/-_/<unknown> настоящую_/Afpfsaf_/настоящий любовь_/Ncfsan_/любовь ,_/,_/, женился_/Vmis-smm-p_/жениться на_/Sp-a_/на другой»_/Ncfsan_/<unknown> ._/SENT_/. 
[119]  Любят_/Vmip3p-a-e_/любить ли_/Q_/ли отцы_/Ncmpny_/отец своих_/P---pga_/свой дочерей_/Ncfpgy_/дочь так_/P-----r_/так же_/Q_/же сильно_/R_/сильно в_/Sp-l_/в рамках_/Ncfpln_/рамка таких_/P---pga_/такой систем_/Ncfpgn_/система ?_/SENT_/? 
[120]  то_/C_/то тогда_/P-----r_/тогда да_/Q_/да ,_/,_/, вы_/P-2-pnn_/вы возможно_/R_/возможно ощущаете_/Vmip2p-a-e_/ощущать ,_/,_/, я_/P-1-snn_/я думаю_/Vmip1s-a-e_/думать ,_/,_/, чувство_/Ncnsnn_/чувство любви_/Ncfsgn_/любовь ._/SENT_/. 
[121]  полное_/Afpnsnf_/полный смеха_/Ncmsgn_/смех и_/C_/и любви_/Ncfsgn_/любовь ,_/,_/, в_/Sp-l_/в очень_/R_/очень дружной_/Afpfsdf_/дружный семье_/Ncfsdn_/семья ._/SENT_/. 
[122]  таких_/P---pga_/такой ,_/,_/, как_/C_/как любовь_/Ncfsan_/любовь и_/C_/и благожелательность_/Ncfsan_/благожелательность ,_/,_/, 
[123]  боснийскую_/Afpfsaf_/<unknown> песню_/Ncfsan_/песня о_/Sp-l_/о любви_/Ncfsln_/любовь 
[124]  и_/C_/и в_/Sp-l_/в отношениях_/Ncnpln_/отношение между_/Sp-i_/между любимыми_/Ncmpiy_/любимый и_/C_/и родителями_/Ncmpiy_/родитель ,_/,_/, 
[125]  Я_/P-1-snn_/я бы_/Q_/бы сделал_/Vmis-sma-p_/сделать зал_/Ncmsan_/зал посвященный_/Vmps-smpfpn_/посвятить любви_/Ncfsgn_/любовь ,_/,_/, зал_/Ncmsan_/зал посвященный_/Vmps-smpfpa_/посвятить щедрости_/Ncfsgn_/щедрость ._/SENT_/. 
[126]  Я_/P-1-snn_/я понимаю_/Vmip1s-a-e_/понимать ,_/,_/, что_/C_/что это_/P--nsnn_/это звучит_/Vmip3s-a-e_/звучать так_/P-----r_/так же_/Q_/же странно_/Afpnsns_/странный ,_/,_/, как_/C_/как жестокость_/Ncfsnn_/жестокость из_/Sp-g_/из лучших_/Afpmpgf_/лучший побуждений_/Ncnpgn_/побуждение ,_/,_/, 
[127]  (_/-_/( Видео_/Ncnsnn_/видео )_/-_/) Джон_/Npmsny_/джон Эдвардс_/Npmsny_/эдвардс :_/-_/: Я_/P-1-snn_/я был_/Vmis-sma-e_/быть бы_/Q_/бы счастлив_/Afpmsns_/счастливый поучаствовать_/Vmn----a-p_/поучаствовать в_/Sp-l_/в этом_/P--nsln_/это ._/SENT_/. 
[128]  или_/C_/или уважения_/Ncnsgn_/уважение ,_/,_/, или_/C_/или любви_/Ncfsgn_/любовь ._/SENT_/. 
[129]  что_/P--nsan_/что повзрослеете_/Vmif2p-a-p_/<unknown> и_/C_/и женитесь_/Vmif2p-m-p_/жениться на_/Sp-l_/на вашей_/P--fsla_/ваш школьной_/Afpfslf_/школьный подруге_/Ncfsly_/подруга ,_/,_/, 
[130]  кажется_/Vmip3s-m-e_/казаться луной_/Ncfsin_/луна из_/Sp-g_/из любовной_/Afpfsgf_/любовный поэмы_/Ncfsgn_/поэма ,_/,_/, 
[131]  не_/Q_/не могут_/Vmip3p-a-e_/мочь иметь_/Vmn----a-e_/иметь место_/Ncnsan_/место одновременно_/R_/одновременно ._/SENT_/. Можно_/R_/можно перейти_/Vmn----a-p_/перейти от_/Sp-g_/от любви_/Ncfsgn_/любовь к_/Sp-d_/к ненависти_/Ncfsdn_/ненависть 
[132]  Публика_/Ncfsnn_/публика :_/-_/: "_/-_/" ..._/Mc---d_/<unknown> праздник_/Ncmsnn_/праздник ._/SENT_/. Любовь_/Ncfsnn_/любовь ._/SENT_/. "_/-_/" 
[133]  И_/C_/и 1300_/Mc---d_/1300 лет_/Ncmpgn_/год спустя_/Sp-a_/спустя эти_/P---paa_/этот двое_/Mc--n_/двое влюбленных_/Ncmpgy_/влюбленный 
[134]  Во_/Sp-a_/во имя_/Ncnsan_/имя любви_/Ncfsgn_/любовь сочиняют_/Vmip3p-a-e_/сочинять песни_/Ncfpan_/песня и_/C_/и исполняют_/Vmip3p-a-e_/исполнять танцы_/Ncmpnn_/танец ._/SENT_/. 
[135]  О_/Sp-l_/о любви_/Ncfsln_/любовь слагают_/Vmip3p-a-e_/слагать стихи_/Ncmpnn_/стихи и_/C_/и повести_/Ncfpnn_/повесть ,_/,_/, 
[136]  мифы_/Ncmpnn_/миф и_/C_/и легенды_/Ncfpnn_/легенда ._/SENT_/. 
[137]  Во_/Sp-a_/во имя_/Ncnsan_/имя любви_/Ncfsgn_/любовь страдают_/Vmip3p-a-e_/страдать и_/C_/и живут_/Vmip3p-a-e_/жить ,_/,_/, 
[138]  убивают_/Vmip3p-a-e_/убивать и_/C_/и умирают_/Vmip3p-a-e_/умирать ._/SENT_/. 
[139]  Памятники_/Ncmpnn_/памятник романтической_/Afpfsgf_/романтический любви_/Ncfsgn_/любовь обнаружены_/Vmps-p-psp_/обнаружить антропологами_/Ncmpin_/<unknown> в_/Sp-l_/в 170_/Mc---d_/170 различных_/Afpmplf_/различный сообществах_/Ncnpln_/сообщество ._/SENT_/. 
[140]  Но_/C_/но любовь_/Ncfsnn_/любовь не_/Q_/не всегда_/P-----r_/всегда приносит_/Vmip3s-a-e_/приносить счастье_/Ncnsnn_/счастье ._/SENT_/. 
[141]  из_/Sp-g_/из множества_/Ncnsgn_/множество заданных_/Afpmpgf_/заданный вопросов_/Ncmpgn_/вопрос ,_/,_/, 
[142]  Так_/P-----r_/так что_/C_/что никому_/P--msdn_/никто еще_/R_/еще не_/Q_/не приходилось_/Vmis-snm-e_/приходиться пережить_/Vmn----a-p_/пережить любовный_/Afpmsaf_/любовный опыт_/Ncmsan_/опыт без_/Sp-g_/без потерь_/Ncfpgn_/потеря ._/SENT_/. 
[143]  одно_/P--nsna_/один из_/Sp-g_/из самых_/P---pga_/самый впечатляющих_/Afpmpgf_/впечатляющий ,_/,_/, на_/Sp-a_/на мой_/P--msaa_/мой взгляд_/Ncmsan_/взгляд ,_/,_/, стихотворений_/Ncnpgn_/стихотворение о_/Sp-l_/о любви_/Ncfsln_/любовь ._/SENT_/. 
[144]  Боль_/Ncfsnn_/боль пронзает_/Vmip3s-a-e_/пронзать мое_/P--nsaa_/мой тело_/Ncnsan_/тело огнем_/Ncmsin_/огонь моей_/P--fsga_/мой любви_/Ncfsgn_/любовь к_/Sp-d_/к тебе_/P-2-sdn_/ты ._/SENT_/. 
[145]  Готов_/Afpmsns_/готовый взорваться_/Vmn----m-p_/взорваться от_/Sp-g_/от боли_/Ncfsgn_/боль моей_/P--fsga_/мой любви_/Ncfsgn_/любовь к_/Sp-d_/к тебе_/P-2-sdn_/ты ._/SENT_/. 
[146]  Пожираем_/Vmip1p-a-e_/<unknown> огнем_/Ncmsin_/огонь моей_/P--fsga_/мой любви_/Ncfsgn_/любовь к_/Sp-d_/к тебе_/P-2-sdn_/ты ._/SENT_/. 
[147]  Я_/P-1-snn_/я думаю_/Vmip1s-a-e_/думать о_/Sp-l_/о твоей_/P--fsla_/твой любви_/Ncfsln_/любовь ко_/Sp-d_/ко мне_/P-1-sdn_/я ._/SENT_/. 
[148]  Я_/P-1-snn_/я растерзан_/Vmps-smpsp_/<unknown> твоей_/P--fsia_/твой любовью_/Ncfsin_/любовь ._/SENT_/. 
[149]  Куда_/P-----r_/куда ты_/P-2-snn_/ты уходишь_/Vmip2s-a-e_/уходить с_/Sp-i_/с моей_/P--fsia_/мой любовью_/Ncfsin_/любовь ?_/SENT_/? 
[150]  Помни_/Vmm-2s-a-e_/помнить ,_/,_/, что_/C_/что я_/P-1-snn_/я сказал_/Vmis-sma-p_/сказать тебе_/P-2-sdn_/ты ,_/,_/, любимая_/Ncfsny_/любимая ._/SENT_/. 
[151]  Прощай_/Vmm-2s-a-e_/прощать ,_/,_/, моя_/P--fsna_/мой любовь_/Ncfsnn_/любовь ,_/,_/, прощай»_/Ncfsnn_/<unknown> ._/SENT_/. 
[152]  Романтическая_/Afpfsnf_/романтический любовь_/Ncfsnn_/любовь является_/Vmip3s-m-e_/являться одним_/P--msia_/один из_/Sp-g_/из самых_/P---pga_/самый сильных_/Afpmpgf_/сильный чувств_/Ncnpgn_/чувство на_/Sp-l_/на Земле_/Ncfsln_/земля ._/SENT_/. 
[153]  Однако_/C_/однако романтическая_/Afpfsnf_/романтический любовь_/Ncfsnn_/любовь гораздо_/R_/гораздо сильнее_/Afcmsnf_/сильный кокаинового_/Afpmsgf_/<unknown> кайфа_/Ncmsgn_/кайф –_/-_/– 
[154]  Романтическая_/Afpfsnf_/романтический любовь_/Ncfsnn_/любовь –_/-_/– это_/P--nsnn_/это одержимость_/Ncfsnn_/одержимость ._/SENT_/. Она_/P-3fsnn_/она полностью_/R_/полностью овладевает_/Vmip3s-a-e_/овладевать человеком_/Ncmsiy_/человек ._/SENT_/. 
[155]  Любовь_/Npfsny_/любовь неистова_/Npfsny_/<unknown> ._/SENT_/. 
[156]  за_/Sp-a_/за чувство_/Ncnsan_/чувство глубокой_/Afpfsgf_/глубокий романтической_/Afpfsgf_/романтический любви_/Ncfsgn_/любовь ._/SENT_/. 
[157]  «Чем_/-_/<unknown> слабее_/Afcmsnf_/слабый надежда_/Ncfsnn_/надежда ,_/,_/, тем_/P--nsin_/то острее_/Afcmsnf_/острый любовное_/Afpnsaf_/любовный чувство»_/Ncnsan_/<unknown> ._/SENT_/. 
[158]  Когда_/C_/когда любовь_/Ncfsnn_/любовь не_/Q_/не взаимна_/Afpfsns_/<unknown> ,_/,_/, 
[159]  человека_/Ncmsay_/человек не_/Q_/не просто_/Q_/просто охватывает_/Vmip3s-a-e_/охватывать чувство_/Ncnsnn_/чувство романтической_/Afpfsgf_/романтический любви_/Ncfsgn_/любовь ,_/,_/, 
[160]  что_/P--nsnn_/что именно_/Q_/именно романтическая_/Afpfsnf_/романтический любовь_/Ncfsnn_/любовь является_/Vmip3s-m-e_/являться главным_/Afpmsif_/главный двигателем_/Ncmsin_/двигатель инстинкта_/Ncmsgn_/инстинкт размножения_/Ncnsgn_/размножение ._/SENT_/. 
[161]  Романтическая_/Afpfsnf_/романтический любовь_/Ncfsnn_/любовь позволяет_/Vmip3s-a-e_/позволять сосредоточиться_/Vmn----m-p_/сосредоточиться на_/Sp-l_/на конкретном_/Afpmslf_/конкретный человеке_/Ncmsly_/человек ,_/,_/, 
[162]  Я_/P-1-snn_/я думаю_/Vmip1s-a-e_/думать ,_/,_/, из_/Sp-g_/из всей_/P--fsga_/весь поэзии_/Ncfsgn_/поэзия о_/Sp-l_/о романтической_/Afpfslf_/романтический любви_/Ncfsln_/любовь ,_/,_/, 
[163]  Он_/P-3msnn_/он сказал_/Vmis-sma-p_/сказать :_/-_/: «Бог_/Ncmsny_/<unknown> любви_/Ncfsgn_/любовь пребывает_/Vmip3s-a-e_/пребывать в_/Sp-l_/в состоянии_/Ncnsln_/состояние острой_/Afpfsgf_/острый нужды_/Ncfsgn_/нужда ._/SENT_/. 
[164]  Я_/P-1-snn_/я также_/Q_/также считаю_/Vmip1s-a-e_/считать ,_/,_/, что_/C_/что романтическая_/Afpfsnf_/романтический любовь_/Ncfsnn_/любовь сродни_/Sp-d_/сродни зависимости_/Ncfsgn_/зависимость ,_/,_/, 
[165]  Одна_/P--fsna_/один моя_/P--fsna_/мой подруга_/Ncfsny_/подруга через_/Sp-a_/через восемь_/Mc--a_/восемь месяцев_/Ncmpgn_/месяц после_/Sp-g_/после окончания_/Ncnsgn_/окончание бурного_/Afpmsgf_/бурный романа_/Ncmsgn_/роман 
[166]  что_/P--nsnn_/что романтическая_/Afpfsnf_/романтический любовь_/Ncfsnn_/любовь является_/Vmip3s-m-e_/являться одной_/P--fsia_/один из_/Sp-g_/из самых_/P---pga_/самый сильных_/Afpmpgf_/сильный субстанций_/Ncfpgn_/субстанция на_/Sp-l_/на свете_/Ncmsln_/свет ,_/,_/, вызывающих_/Vmpp-p-afeg_/вызывать зависимость_/Ncfsan_/зависимость ._/SENT_/. 
[167]  что_/C_/что у_/Sp-g_/у людей_/Ncmpgy_/человек этот_/P--msaa_/этот феномен_/Ncmsan_/феномен и_/C_/и является_/Vmip3s-m-e_/являться основой_/Ncfsin_/основа любви_/Ncfsgn_/любовь с_/Sp-g_/с первого_/Momsg_/первый взгляда_/Ncmsgn_/взгляд ._/SENT_/. 
[168]  не_/Q_/не разочаровалась_/Vmis-sfm-e_/разочароваться ли_/Q_/ли я_/P-1-snn_/я в_/Sp-l_/в любви_/Ncfsln_/любовь ,_/,_/, изучая_/Vmgp---a-e_/изучать ее_/P-----a_/ее биологические_/Afpmpnf_/биологический механизмы_/Ncmpnn_/механизм ._/SENT_/. 
[169]  связанная_/Vmps-sfpfpn_/связать с_/Sp-i_/с чувством_/Ncnsin_/чувство романтической_/Afpfsgf_/романтический любви_/Ncfsgn_/любовь ,_/,_/, 
[170]  хранит_/Vmip3s-a-e_/хранить еще_/R_/еще много_/Mc--n_/много нераскрытых_/Afpmpgf_/нераскрытый секретов_/Ncmpgn_/секрет ._/SENT_/. 
[171]  и_/C_/и ,_/,_/, хотя_/C_/хотя ,_/,_/, в_/Sp-l_/в любви_/Ncfsln_/любовь всегда_/P-----r_/всегда останется_/Vmif3s-m-p_/остаться место_/Ncnsnn_/место тайне_/Ncfsln_/тайна ,_/,_/, 
[172]  Мое_/P--nsna_/мой последнее_/Afpnsnf_/последний слово_/Ncnsnn_/слово таково_/P--nsna_/таков :_/-_/: любовь_/Ncfsnn_/любовь живет_/Vmip3s-a-e_/жить в_/Sp-a_/в нас_/P-1-pan_/мы ._/SENT_/. 
[173]  что_/C_/что моей_/P--fsia_/мой первой_/Mofsi_/первой любовью_/Ncfsin_/любовь стала_/Vmis-sfa-p_/стать девушка_/Ncfsny_/девушка ._/SENT_/. 
[174]  когда_/C_/когда комментаторы_/Ncmpny_/комментатор стали_/Vmis-p-a-p_/стать равнять_/Vmn----a-e_/<unknown> нашу_/P--fsaa_/наш любовь_/Ncfsan_/любовь со_/Sp-i_/со скотством_/Ncmsin_/<unknown> по_/Sp-d_/по национальному_/Afpnsdf_/национальный телевидению_/Ncnsdn_/телевидение ._/SENT_/. 
[175]  Это_/P--nsnn_/это мой_/P--msna_/мой ребенок_/Ncmsny_/ребенок и_/C_/и он_/P-3msnn_/он полон_/Afpmsns_/полный любви»_/Vmn----a-e_/<unknown> ._/SENT_/. 
[176]  И_/C_/и все_/P---pna_/весь эти_/P---pna_/этот разные_/Afpmpnf_/разный ситуации_/Ncfpnn_/ситуация —_/-_/— любовь_/Ncfsnn_/любовь к_/Sp-d_/к моему_/P--msda_/мой ребенку_/Ncmsdy_/ребенок ._/SENT_/. 
[177]  Мне_/P-1-sdn_/я думается_/Vmip3s-m-e_/думаться ,_/,_/, что_/C_/что эта_/P--fsna_/этот любовь_/Ncfsnn_/любовь достаточно_/R_/достаточно сильна_/Afpfsns_/сильный ,_/,_/, 
[178]  именно_/Q_/именно это_/P--nsnn_/это превращает_/Vmip3s-a-e_/превращать наши_/P---paa_/наш истории_/Ncfpan_/история в_/Sp-l_/в истории_/Ncfsln_/история любви_/Ncfsgn_/любовь 
[179]  интересовала_/Vmis-sfa-e_/интересовать любовь_/Ncfsnn_/любовь ,_/,_/, а_/C_/а не_/Q_/не война_/Ncfsnn_/война ._/SENT_/. 
[180]  Венера_/Ncfsny_/венера ,_/,_/, конечно_/R_/конечно ,_/,_/, богиня_/Ncfsny_/богиня любви_/Ncfsgn_/любовь и_/C_/и плодородия_/Ncnsgn_/плодородие ,_/,_/, 
[181]  То_/P--nsnn_/то же_/Q_/же мы_/P-1-pnn_/мы видим_/Vmip1p-a-e_/видеть ,_/,_/, когда_/C_/когда влюблённые_/Vmps-p-pfpn_/влюблённые идут_/Vmip3p-a-e_/идти по_/Sp-d_/по улице_/Ncfsdn_/улица ,_/,_/, 
[182]  а_/C_/а верующий_/Afpmsnf_/верующий человек_/Ncmsny_/человек растворяется_/Vmip3s-m-e_/растворяться в_/Sp-l_/в любви_/Ncfsln_/любовь Господа_/Ncmsgy_/господь ._/SENT_/. 
[183]  И_/C_/и многие_/P---pnn_/многие из_/Sp-g_/из нас_/P-1-pgn_/мы чувствуют_/Vmip3p-a-e_/чувствовать это_/P--nsan_/это в_/Sp-l_/в любви_/Ncfsln_/любовь ,_/,_/, 
[184]  когда_/C_/когда любовники_/Ncmpny_/любовник чувствуют_/Vmip3p-a-e_/чувствовать ,_/,_/, что_/C_/что они_/P-3-pnn_/они одно_/P--nsaa_/один целое_/Ncnsan_/целое ._/SENT_/. 
[185]  мощные_/Afpmpnf_/мощный позитивные_/Afpmpnf_/позитивный эмоции_/Ncfpnn_/эмоция ,_/,_/, такие_/P---pna_/такой как_/P-----r_/как любопытство_/Ncnsnn_/любопытство и_/C_/и любовь_/Ncfsnn_/любовь ,_/,_/, 
[186]  они_/P-3-pnn_/они светились_/Vmis-p-m-e_/светиться любовью_/Ncfsin_/любовь к_/Sp-d_/к его_/P-----a_/его ученикам_/Ncmpdy_/ученик ._/SENT_/. 
[187]  Я_/P-1-snn_/я сочетаю_/Vmip1s-a-e_/<unknown> мою_/P--fsaa_/мой любовь_/Ncfsan_/любовь к_/Sp-d_/к математике_/Ncfsdn_/математика и_/C_/и магии_/Ncfsdn_/магия 
[188]  люди_/Ncmpny_/человек посылают_/Vmip3p-a-e_/посылать свою_/P--fsaa_/свой любовь_/Ncfsan_/любовь друг_/P---snn_/друг другу_/P---sdn_/друг ._/SENT_/. 
[189]  Но_/C_/но сначала_/R_/сначала я_/P-1-snn_/я хочу_/Vmip1s-a-e_/хотеть рассказать_/Vmn----a-p_/рассказать о_/Sp-l_/о своём_/Afpnslf_/своём исследовании_/Ncnsln_/исследование любви_/Ncfsgn_/любовь ,_/,_/, 
[190]  Семнадцати_/Mc--g_/семнадцати из_/Sp-g_/из них_/P-3-pgn_/они отвечали_/Vmis-p-a-e_/отвечать взаимностью_/Ncfsin_/взаимность ,_/,_/, 
[191]  а_/C_/а потом_/P-----r_/потом продолжить_/Vmn----a-p_/продолжить про_/Sp-a_/про будущее_/Ncnsan_/будущее любви_/Ncfsgn_/любовь ._/SENT_/. 
[192]  «Что_/-_/<unknown> есть_/Vmip3s-a-e_/быть любить_/Vmn----a-e_/любить ?_/SENT_/? »_/-_/» ,_/,_/, —_/-_/— сказал_/Vmis-sma-p_/сказать Шекспир_/Npmsny_/шекспир ._/SENT_/. 
[193]  Сначала_/R_/сначала я_/P-1-snn_/я пыталась_/Vmis-sfm-e_/пытаться понять_/Vmn----a-p_/понять ,_/,_/, что_/P--nsnn_/что такое_/P--nsna_/такой романтическая_/Afpfsnf_/романтический любовь_/Ncfsnn_/любовь ,_/,_/, 
[194]  «Любовь_/Ncfsnn_/<unknown> состоит_/Vmip3s-a-e_/состоять из_/Sp-l_/из завышенной_/Vmps-sfpfpl_/завысить оценки_/Ncfpnn_/оценка различий_/Ncnpgn_/различие между_/Sp-i_/между двумя_/Mcf-i_/двумя женщинами»_/Ncfpin_/<unknown> ._/SENT_/. 
[195]  Как_/P-----r_/как сказал_/Vmis-sma-p_/сказать Чосер_/Ncmsnn_/<unknown> ,_/,_/, «любовь_/Mc---d_/<unknown> слепа»_/Ncmsgn_/<unknown> ._/SENT_/. 
[196]  В_/Sp-l_/в попытке_/Ncfsln_/попытка понять_/Vmn----a-p_/понять романтическую_/Afpfsaf_/романтический любовь_/Ncfsan_/любовь ,_/,_/, 
[197]  я_/P-1-snn_/я решила_/Vmis-sfa-p_/решить перечитать_/Vmn----a-p_/перечитать поэзию_/Ncfsan_/поэзия всего_/P--msga_/весь мира_/Ncmsgn_/мир ,_/,_/, 
[198]  Всё_/-_/всё просто_/Q_/просто ._/SENT_/. Романтическая_/Afpfsnf_/романтический любовь_/Ncfsnn_/любовь очень_/R_/очень проста_/Afpfsns_/простой ._/SENT_/. 
[199]  Но_/C_/но основные_/Afpmpnf_/основной черты_/Ncfpnn_/черта романтической_/Afpfsgf_/романтический любви_/Ncfsgn_/любовь это_/P--nsnn_/это жажда_/Ncfsnn_/жажда :_/-_/: 
[200]  Я_/P-1-snn_/я начала_/Vmis-sfa-p_/начать понимать_/Vmn----a-e_/понимать ,_/,_/, что_/C_/что романтическая_/Afpfsnf_/романтический любовь_/Ncfsnn_/любовь это_/P--nsnn_/это не_/Q_/не чувство_/Ncnsnn_/чувство ._/SENT_/. 
[201]  Люди_/Ncmpny_/человек живут_/Vmip3p-a-e_/жить ради_/Sp-g_/ради любви_/Ncfsgn_/любовь ._/SENT_/. Убивают_/Vmip3p-a-e_/убивать ради_/Sp-g_/ради любви_/Ncfsgn_/любовь ._/SENT_/. Умирают_/Vmip3p-a-e_/умирать ради_/Sp-g_/ради любви_/Ncfsgn_/любовь ._/SENT_/. 
[202]  Вторая_/Mofsn_/вторая из_/Sp-g_/из этих_/P---pga_/этот трёх_/Afpmpgf_/трёх формаций_/Ncfpgn_/формация мозга_/Ncmsgn_/мозг —_/-_/— романтическая_/Afpfsnf_/романтический любовь_/Ncfsnn_/любовь :_/-_/: 
[203]  этот_/P--msna_/этот восторг_/Ncmsnn_/восторг ,_/,_/, наваждение_/Ncnsnn_/наваждение ранней_/Afpfsgf_/ранний любви_/Ncfsgn_/любовь ._/SENT_/. 
[204]  Я_/P-1-snn_/я думаю_/Vmip1s-a-e_/думать ,_/,_/, что_/C_/что романтическая_/Afpfsnf_/романтический любовь_/Ncfsnn_/любовь появилась_/Vmis-sfm-p_/появиться ,_/,_/, чтобы_/C_/чтобы силы_/Ncfpnn_/сила для_/Sp-g_/для спаривания_/Ncnsgn_/<unknown> 
[205]  влечение_/Ncnsnn_/влечение ,_/,_/, романтическую_/Afpfsaf_/романтический любовь_/Ncfsan_/любовь и_/C_/и глубокую_/Afpfsaf_/глубокий привязанность_/Ncfsan_/привязанность к_/Sp-d_/к партнёру_/Ncmsdy_/партнёру ._/SENT_/. 
[206]  Я_/P-1-snn_/я ограничусь_/Vmif1s-m-p_/ограничиться парой_/Ncfsin_/пара вещей_/Ncfpgn_/вещь ,_/,_/, и_/C_/и потом_/P-----r_/потом перейду_/Vmif1s-a-p_/перейти к_/Sp-d_/к сексу_/Ncmsdn_/секс и_/C_/и любви_/Ncfsdn_/любовь ._/SENT_/. 
[207]  Я_/P-1-snn_/я назову_/Vmif1s-a-p_/назвать буквально_/R_/буквально пару_/Ncfsan_/пара ,_/,_/, и_/C_/и потом_/P-----r_/потом расскажу_/Vmif1s-a-p_/рассказать о_/Sp-l_/о сексе_/Ncmsln_/секс и_/C_/и любви_/Ncfsln_/любовь ._/SENT_/. 
[208]  серьёзно_/R_/серьёзно влияет_/Vmip3s-a-e_/влиять на_/Sp-a_/на секс_/Ncmsan_/секс ,_/,_/, романтику_/Ncfsan_/романтика и_/C_/и семейную_/Afpfsaf_/семейный жизнь_/Ncfsan_/жизнь ._/SENT_/. 
[209]  Мы_/P-1-pnn_/мы так_/P-----r_/так же_/Q_/же наблюдаем_/Vmip1p-a-e_/наблюдать рост_/Ncmsan_/рост романтической_/Afpfsgf_/романтический любви_/Ncfsgn_/любовь ._/SENT_/. 
[210]  В_/Sp-l_/в этих_/P---pla_/этот трёх_/Afpmplf_/трёх формациях_/Ncfpln_/формация мозга_/Ncmsgn_/мозг :_/-_/: страсти_/Ncfsgn_/страсть ,_/,_/, романтической_/Afpfsgf_/романтический любви_/Ncfsgn_/любовь ,_/,_/, и_/C_/и привязанности_/Ncfpnn_/привязанность —_/-_/— 
[211]  Дофамин_/Npmsny_/<unknown> напрямую_/R_/напрямую связан_/Afpmsns_/связанный с_/Sp-i_/с романтической_/Afpfsif_/романтический любовью_/Ncfsin_/любовь ,_/,_/, 
[212]  Но_/C_/но эти_/P---pna_/этот три_/Mc--n_/три формации_/Ncfsgn_/формация мозга_/Ncmsgn_/мозг —_/-_/— страсть_/Ncfsnn_/страсть ,_/,_/, любовь_/Ncfsnn_/любовь ,_/,_/, и_/C_/и привязанность_/Ncfsnn_/привязанность —_/-_/— 
[213]  и_/C_/и одновременно_/R_/одновременно переживать_/Vmn----a-e_/переживать интенсивную_/Afpfsaf_/интенсивный влюблённость_/Ncfsan_/<unknown> в_/Sp-l_/в кого-то_/Ncmsln_/<unknown> другого_/P--msga_/другой ,_/,_/, 
[214]  к_/Sp-d_/к серьёзным_/Afpnsif_/серьёзным романтическим_/Afpnsif_/романтический переживаниям_/Ncnpdn_/переживание к_/Sp-d_/к другому_/P--msda_/другой ._/SENT_/. 
[215]  Дофамин_/Npmsny_/<unknown> напрямую_/R_/напрямую связан_/Afpmsns_/связанный с_/Sp-i_/с романтической_/Afpfsif_/романтический любовью_/Ncfsin_/любовь ._/SENT_/. 
[216]  Я_/P-1-snn_/я просто_/Q_/просто хочу_/Vmip1s-a-e_/хотеть сказать_/Vmn----a-p_/сказать ,_/,_/, что_/C_/что мир_/Ncmsnn_/мир без_/Sp-g_/без любви_/Ncfsgn_/любовь —_/-_/— тоскливое_/Afpnsnf_/тоскливый зрелище_/Ncnsnn_/зрелище ._/SENT_/. 
[217]  Я_/P-1-snn_/я изучала_/Vmis-sfa-e_/изучать романтическую_/Afpfsaf_/романтический любовь_/Ncfsan_/любовь ,_/,_/, секс_/Ncmsnn_/секс и_/C_/и привязанность_/Ncfsnn_/привязанность последние_/Afpmpaf_/последний 30_/Mc---d_/30 лет_/Ncmpgn_/год ._/SENT_/. 
[218]  Мы_/P-1-pnn_/мы влюбляемся_/Vmip1p-m-e_/<unknown> в_/Sp-l_/в тех_/P---pla_/тот ,_/,_/, кто_/P--msnn_/кто совпадает_/Vmip3s-a-e_/совпадать с_/Sp-i_/с нашей_/P--fsia_/наш ,_/,_/, как_/C_/как я_/P-1-snn_/я называют_/Vmip3p-a-e_/называть ,_/,_/, «картой_/Afpmsnf_/<unknown> любви»_/Ncmsnn_/<unknown> ,_/,_/, 
[219]  Я_/P-1-snn_/я тут_/P-----r_/тут рассказывала_/Vmis-sfa-e_/рассказывать про_/Sp-a_/про биологию_/Ncfsan_/биология любви_/Ncfsgn_/любовь ._/SENT_/. 
[220]  И_/C_/и ,_/,_/, возможно_/R_/возможно ,_/,_/, тем_/P--nsin_/то самым_/P--nsia_/самый спровоцировать_/Vmn----a-p_/спровоцировать мозг_/Ncmsan_/мозг на_/Sp-a_/на влюблённость_/Ncfsan_/<unknown> ._/SENT_/. (Смех)_/Mc---d_/<unknown> ._/SENT_/. 
[221]  В_/Sp-l_/в любви_/Ncfsln_/любовь есть_/Vmip3s-a-e_/быть волшебство_/Ncnsnn_/волшебство ._/SENT_/. 
[222]  в_/Sp-l_/в сексе_/Ncmsln_/секс ,_/,_/, романтической_/Afpfslf_/романтический любви_/Ncfsln_/любовь ,_/,_/, и_/C_/и привязанности_/Ncfpnn_/привязанность к_/Sp-d_/к долгосрочному_/Afpmsdf_/<unknown> партнёру_/Ncmsdn_/партнёру ._/SENT_/. 
[223]  и_/C_/и ближе_/Afcmsnf_/блидкий к_/Sp-l_/к его_/P-----a_/его корню_/Ncmsdn_/корень :_/-_/: «любитель_/-_/<unknown> –_/-_/– это_/P--nsnn_/это тот_/P--msna_/тот ,_/,_/, кто_/P--msnn_/кто любит»_/Vmip3s-a-e_/<unknown> ._/SENT_/. 
[224]  Моя_/P--fsna_/мой любовь_/Ncfsnn_/любовь ,_/,_/, как_/C_/как двенадцать_/Mc--n_/двенадцать эфиопских_/Afpmpgf_/<unknown> коз_/Ncfpgy_/коза 
[225]  Не_/Q_/не потому_/P-----r_/потому ,_/,_/, что_/C_/что я_/P-1-snn_/я столкнулся_/Vmis-smm-p_/столкнуться с_/Sp-i_/с гомосексуальным_/Afpmsif_/<unknown> сексом_/Ncmsin_/секс и_/C_/и любовью_/Ncfsin_/любовь 
[226]  Любовь_/Npfsny_/любовь здесь_/P-----r_/здесь ,_/,_/, вся_/P--fsna_/весь любовь»_/Ncfsnn_/<unknown> ._/SENT_/. 
[227]  Мы_/P-1-pnn_/мы бы_/Q_/бы не_/Q_/не знали_/Vmis-p-a-e_/знать любви_/Ncfsgn_/любовь 
[228]  «Нет_/-_/<unknown> ,_/,_/, нет_/R_/нет ,_/,_/, надо_/R_/надо лягушачьи_/Afpmpaf_/лягушачий лапы_/Ncfpan_/лапа !_/SENT_/! »_/-_/» 
[229]  «Нет_/-_/<unknown> ,_/,_/, суперпружины_/Afpmpnf_/<unknown> Мистера_/Ncmpny_/мистер Гаджета_/Ncmsgn_/<unknown> !_/SENT_/! »_/-_/» 
[230]  где_/P-----r_/где маленькие_/Afpmpnf_/маленький дела_/Ncnpnn_/дело совершаются_/Vmip3p-m-e_/совершаться ради_/Sp-g_/ради любви_/Ncfsgn_/любовь ,_/,_/, 
[231]  Вдруг_/R_/вдруг стало_/Vmis-sna-p_/стать возможным_/Afpnsif_/возможный совершать_/Vmn----a-e_/совершать великие_/Afpmpaf_/великий дела_/Ncnpan_/дело во_/Sp-a_/во имя_/Ncnsan_/имя любви_/Ncfsgn_/любовь ._/SENT_/. "_/-_/" 
[232]  Скорее_/Afcmsnf_/скорый всего_/P--nsgn_/все ,_/,_/, все_/P---paa_/весь эти_/P---paa_/этот эксперименты_/Ncmpan_/эксперимент по_/Sp-d_/по свершению_/Ncnsdn_/<unknown> великих_/Afpmpgf_/великий дел_/Ncnpgn_/дело во_/Sp-a_/во имя_/Ncnsan_/имя любви_/Ncfsgn_/любовь 
[233]  «Дорогая_/Afpfsnf_/<unknown> биологическая_/Afpfsnf_/биологический мама_/Ncfsny_/мама ,_/,_/, у_/Sp-g_/у меня_/P-1-sgn_/я замечательные_/Afpmpnf_/замечательный родители_/Ncmpny_/родитель ._/SENT_/. 
[234]  Я_/P-1-snn_/я нашёл_/Vmis-sma-p_/нашёл любовь_/Ncfsan_/любовь ._/SENT_/. Я_/P-1-snn_/я счастлив»_/Vmis-sma-p_/<unknown> ._/SENT_/. 
[235]  любовь_/Ncfsnn_/любовь к_/Sp-d_/к нему_/P-3msdn_/он ,_/,_/, восхищение_/Ncnsan_/восхищение им_/P-3-pdn_/они ._/SENT_/. 
[236]  И_/C_/и что-то_/Ncnsnn_/<unknown> я_/P-1-snn_/я не_/Q_/не вижу_/Vmip1s-a-e_/видеть слева_/R_/слева любви_/Ncfsgn_/любовь и_/C_/и восхищения_/Ncnsgn_/восхищение ._/SENT_/. 
[237]  это_/P--nsnn_/это другая_/P--fsna_/другой история_/Ncfsnn_/история любви_/Ncfsgn_/любовь ._/SENT_/. 
[238]  потому_/P-----r_/потому что_/C_/что это_/P--nsnn_/это история_/Ncfsnn_/история любви_/Ncfsgn_/любовь ,_/,_/, 
[239]  преодоление_/Ncnsan_/преодоление родителями_/Ncmpiy_/родитель потери_/Ncfsgn_/потеря любимых_/Afpmpgf_/любимый детей_/Ncnpgy_/дитя ?_/SENT_/? 
[240]  современной_/Afpfsgf_/современный любви_/Ncfsgn_/любовь и_/C_/и индивидуалистического_/Afpnsgf_/<unknown> общества_/Ncnsgn_/общество ._/SENT_/. 
[241]  Есть_/Vmip3s-a-e_/быть ли_/Q_/ли взаимосвязь_/Ncfsnn_/взаимосвязь между_/Sp-i_/между любовью_/Ncfsin_/любовь и_/C_/и страстью_/Ncfsin_/страсть ?_/SENT_/? 
[242]  Глагол_/Ncmsnn_/глагол ,_/,_/, который_/P--msna_/который лично_/R_/лично у_/Sp-g_/у меня_/P-1-sgn_/я ассоциируется_/Vmip3s-m-e_/ассоциироваться с_/Sp-i_/с любовью_/Ncfsin_/любовь —_/-_/— «иметь»_/-_/<unknown> ._/SENT_/. 
[243]  Когда_/C_/когда мы_/P-1-pnn_/мы любим_/Vmip1p-a-e_/любить ,_/,_/, мы_/P-1-pnn_/мы хотим_/Vmip1p-a-e_/хотеть иметь_/Vmn----a-e_/иметь ,_/,_/, мы_/P-1-pnn_/мы хотим_/Vmip1p-a-e_/хотеть знать_/Vmn----a-e_/знать своего_/P--msaa_/свой возлюбленного_/Ncmsay_/возлюбленный ._/SENT_/. 
[244]  Забота_/Ncfsnn_/забота —_/-_/— это_/P--nsnn_/это чрезвычайно_/R_/чрезвычайно сильная_/Afpfsnf_/сильный любовь_/Ncfsnn_/любовь ._/SENT_/. Это_/P--nsnn_/это мощный_/Afpmsnf_/мощный анти-афродизиак_/Ncmsnn_/<unknown> ._/SENT_/. 
[245]  В_/Sp-l_/в этом_/P--msla_/этот парадоксе_/Ncmsln_/парадокс любви_/Ncfsgn_/любовь и_/C_/и желания_/Ncnsgn_/желание 
[246]  которые_/P---pna_/который подпитывают_/Vmip3p-a-e_/<unknown> любовь_/Ncfsan_/любовь :_/-_/: взаимность_/Ncfsnn_/взаимность ,_/,_/, обоюдность_/Ncfsnn_/обоюдность ,_/,_/, 
[247]  которые_/P---pna_/который мы_/P-1-pnn_/мы не_/Q_/не всегда_/P-----r_/всегда предпочитаем_/Vmip1p-a-e_/предпочитать в_/Sp-l_/в любви_/Ncfsln_/любовь :_/-_/: 
[248]  потому_/P-----r_/потому что_/C_/что мы_/P-1-pnn_/мы думаем_/Vmip1p-a-e_/думать ,_/,_/, что_/C_/что любовь_/Ncfsnn_/любовь —_/-_/— это_/P--nsnn_/это самоотверженность_/Ncfsnn_/<unknown> ,_/,_/, 
[249]  которая_/P--fsna_/который будет_/Vmif3s-a-e_/быть обременена_/Vmps-sfpsp_/обременить излишним_/Afpnsif_/излишний беспокойством_/Ncnsin_/беспокойство ,_/,_/, 
[250]  Эротические_/Afpmpnf_/эротический пары_/Ncfpnn_/пара также_/Q_/также понимают_/Vmip3p-a-e_/понимать ,_/,_/, что_/C_/что страсть_/Ncfsnn_/страсть может_/Vmip3s-a-e_/мочь убывать_/Vmn----a-e_/убывать и_/C_/и прибывать_/Vmn----a-e_/прибывать ._/SENT_/. 
[251]  ты_/P-2-snn_/ты почувствуешь_/Vmif2s-a-p_/почувствовать ,_/,_/, как_/C_/как тебя_/P-2-san_/ты охватывает_/Vmip3s-a-e_/охватывать такая_/P--fsna_/такой любовь_/Ncfsnn_/любовь ,_/,_/, 
[252]  что_/C_/что этакий_/P--msna_/этакий мегагрузовик_/Ncmsnn_/<unknown> любви_/Ncfsgn_/любовь ,_/,_/, 
[253]  Меня_/P-1-san_/я переполняло_/Vmis-sna-e_/переполнять чувство_/Ncnsnn_/чувство любви_/Ncfsgn_/любовь и_/C_/и нежности_/Ncfsgn_/нежность к_/Sp-d_/к моей_/P--fsda_/мой жене_/Ncfsdy_/жена ,_/,_/, 
[254]  мы_/P-1-pnn_/мы представили_/Vmis-p-a-p_/представить нашу_/P--fsaa_/наш любовь_/Ncfsan_/любовь к_/Sp-d_/к ребенку_/Ncmsdy_/ребенок 
[255]  Нельзя_/R_/нельзя изображать_/Vmn----a-e_/изображать любовь_/Ncfsan_/любовь в_/Sp-l_/в виде_/Ncmsln_/вид диаграммы_/Ncfsgn_/диаграмма ._/SENT_/. 
[256]  Причина_/Ncfsnn_/причина этого_/P--msga_/этот заключается_/Vmip3s-m-e_/заключаться в_/Sp-l_/в том_/P--nsln_/то ,_/,_/, 
[257]  что_/C_/что общество_/Ncnsnn_/общество рассматривает_/Vmip3s-a-e_/рассматривать любовь_/Ncfsan_/любовь как_/C_/как некую_/P--fsaa_/некий дихотомию_/Ncfsan_/дихотомия 
[258]  На_/Sp-l_/на самом_/P--nsla_/самый же_/Q_/же деле_/Ncnsln_/дело я_/P-1-snn_/я думаю_/Vmip1s-a-e_/думать ,_/,_/, любовь_/Ncfsnn_/любовь представляет_/Vmip3s-a-e_/представлять собой_/P----in_/себя процесс_/Ncmsan_/процесс ._/SENT_/. 
[259]  такого_/P--msga_/такой "_/-_/" бинарного_/Afpmsgf_/бинарный "_/-_/" мышления_/Ncnsgn_/мышление в_/Sp-l_/в отношении_/Ncnsln_/отношение любви_/Ncfsgn_/любовь 
[260]  что_/C_/что любовь_/Ncfsnn_/любовь не_/Q_/не настоящая_/Afpfsnf_/настоящий ,_/,_/, что_/C_/что её_/Ncmsnn_/её недостаточно_/R_/недостаточно ,_/,_/, или_/C_/или что-то_/Ncnsnn_/<unknown> ещё_/-_/ещё ._/SENT_/. 
[261]  Была_/Vmis-sfa-e_/быть очень_/R_/очень чёткая_/Afpfsnf_/чёткая корреляция_/Ncfsnn_/корреляция между_/Sp-i_/между любовью_/Ncfsin_/любовь к_/Sp-d_/к Лего_/Vmpp-snafeg_/лего 
[262]  Между_/Sp-i_/между тем_/P--nsin_/то ,_/,_/, сколько_/P-----r_/сколько было_/Vmis-sna-e_/быть построено_/Vmps-snpsp_/построить и_/C_/и тем_/P--nsin_/то ,_/,_/, как_/C_/как любят_/Vmip3p-a-e_/любить Лего_/Vmpp-snafeg_/лего ,_/,_/, не_/Q_/не было_/Vmis-sna-e_/быть никакой_/P--fsga_/никакой зависимости_/Ncfsgn_/зависимость ._/SENT_/. 
[263]  они_/P-3-pnn_/они собирались_/Vmis-p-m-e_/собираться пожениться_/Vmn----m-p_/пожениться ,_/,_/, она_/P-3fsnn_/она была_/Vmis-sfa-e_/быть любовью_/Ncfsin_/любовь всей_/P--fsga_/весь его_/P-----a_/его жизни_/Ncfsgn_/жизнь ._/SENT_/. 
[264]  «На_/-_/<unknown> выходные_/Ncmpan_/выходной приехали_/Vmis-p-a-p_/приехать ,_/,_/, милочка_/Nccsny_/милочка ?_/SENT_/? »_/-_/» 
[265]  в_/Sp-l_/в общем_/Ncnsln_/общее ,_/,_/, сделанная_/Vmps-sfpfpn_/сделать с_/Sp-i_/с любовью_/Ncfsin_/любовь ._/SENT_/. 
[266]  Проект_/Ncmsnn_/проект "_/-_/" От_/Sp-l_/от 52_/Mc---d_/52 к_/Sp-l_/к 48_/Mc---d_/48 с_/Sp-i_/с любовью_/Ncfsin_/любовь "_/-_/" 
[267]  "_/-_/" Дорогие_/Afpmpnf_/дорогой 48_/Mc---d_/48 ,_/,_/, я_/P-1-snn_/я обещаю_/Vmip1s-a-e_/обещать всегда_/P-----r_/всегда прислушиваться_/Vmn----m-e_/прислушиваться к_/Sp-d_/к вам_/P-2-pdn_/вы ,_/,_/, сражаться_/Vmn----m-e_/сражаться за_/Sp-a_/за вас_/P-2-pan_/вы ,_/,_/, уважать_/Vmn----a-e_/уважать вас_/P-2-pan_/вы "_/-_/" ._/SENT_/. 
[268]  Я_/P-1-snn_/я с_/Sp-i_/с удовольствием_/Ncnsin_/удовольствие поделюсь_/Vmif1s-m-p_/поделиться своей_/P--fsia_/свой любовью_/Ncfsin_/любовь с_/Sp-i_/с миром_/Ncmsin_/мир ,_/,_/, 
[269]  "_/-_/" Не_/Q_/не надевай_/Vmm-2s-a-e_/надевать под_/Sp-a_/под пижаму_/Ncfsan_/пижама трусики_/Ncmpan_/трусики ,_/,_/, милая_/Afpfsnf_/милый ,_/,_/, 


