Language: bg.tag

[1]  нека_/Tv_/нека бъдем_/Vyptf-r1p_/бъдем обичащи_/Vpitcar-p-i_/обичам и_/Cp_/и обичани_/Vpitcv--p-i_/обичам ;_/PT_/; 
[2]  били_/Vxitcat-p-i_/били склонни_/A-pi_/склонен на_/R_/на любов_/Ncfsi_/любов ,_/PT_/, не_/Tn_/не война_/Ncfsi_/война ._/PT_SENT_/. 
[3]  нека_/Tv_/нека бъдем_/Vyptf-r1p_/бъдем обичащи_/Vpitcar-p-i_/обичам и_/Cp_/и обичани_/Vpitcv--p-i_/обичам ;_/PT_/; 
[4]  били_/Vxitcat-p-i_/били склонни_/A-pi_/склонен на_/R_/на любов_/Ncfsi_/любов ,_/PT_/, не_/Tn_/не война_/Ncfsi_/война ._/PT_SENT_/. 
[5]  но_/Cc_/но се_/Ppxta_/се е_/Vxitf-r3s_/е отказал_/Vpptcao-smi_/откажа от_/R_/от любовта_/Ncfsd_/любов си_/Psxto_/си към_/R_/към музиката_/Ncfsd_/музика ,_/PT_/, за да_/Vpitf-o3s_/<unknown> развива_/Vpitf-r3s_/развивам кариера_/Ncfsi_/кариера 
[6]  обратно_/Dl_/обратно в_/R_/в реалността_/Ncfsd_/реалност и_/Cp_/и думата_/Ncfsd_/дума ,_/PT_/, скъпя_/Vpitf-r1s_/скъпя моя_/Psol-s1fi_/моя ,_/PT_/, ще_/Tx_/ще бъде_/Vyptf-r3s_/бъде '_/Vpitcv--smi_/<unknown> Бейзингстоук_/Ncmsi_/<unknown> ._/PT_SENT_/. '_/Vpptz--2s_/<unknown> "_/PT_/" 
[7]  ако_/Cs_/ако не_/Tn_/не очакваме_/Vpitf-r1p_/очаквам да_/Tx_/да намерим_/Vpptf-r1p_/намеря любов_/Ncfsi_/любов ,_/PT_/, да_/Tx_/да бъдем_/Vyptf-r1p_/бъдем здрави_/A-pi_/здрав и_/Cp_/и да_/Tx_/да имаме_/Vpitf-r1p_/имам успех_/Ncmsi_/успех ,_/PT_/, 
[8]  обич_/Ncfsi_/обич ,_/PT_/, силни_/A-pi_/силен ценности_/Ncfpi_/ценност 
[9]  Всичко_/Pce-os-n_/всичко това_/Pde-os-n_/това ,_/PT_/, обвито_/Vpptcv--sni_/обвия в_/R_/в безусловна_/Afsi_/безусловен любов_/Ncfsi_/любов ,_/PT_/, 
[10]  че_/Cs_/че това_/Pde-os-n_/това е_/Vxitf-r3s_/е любовта_/Ncfsd_/любов на_/R_/на живота_/Ncmsh_/живот ми_/Psot--1_/ми ,_/PT_/, дъщеря_/Ncfsi_/дъщеря ми_/Psot--1_/ми Джей_/Ncmsi_/<unknown> ._/PT_SENT_/. 
[11]  Поетът_/Ncmsf_/поет Уистън_/Ncmsi_/<unknown> Хю_/Ncms-v_/<unknown> Одън_/Vppicao-p-d_/<unknown> е_/Vxitf-r3s_/е казал_/Vpptcao-smi_/кажа :_/PT_SENT_/: "_/PT_/" Хиляди_/Ncfpi_/хиляда са_/Vxitf-r3p_/са живели_/Vpitcao-p-i_/живея без_/R_/без любов_/Ncfsi_/любов ._/PT_SENT_/. 
[12]  И_/Cp_/и едно_/Pfe-os-ni_/едно последно_/Ansi_/последен нещо_/Pfe-os-ni_/нещо :_/PT_SENT_/: Когато_/Prt_/когато поставите_/Vpptf-r2p_/поставя стойност_/Ncfsi_/стойност на_/R_/на неща_/Pfe-op--i_/неща като_/R_/като здраве_/Ncnsi_/здраве ,_/PT_/, 
[13]  за_/R_/за техните_/Pszl-p3-d_/техните любими_/A-pi_/любим хора_/Nc-li_/хора 
[14]  толкова_/Pdq_/толкова повече_/Md-pi_/повече разбирах_/Vpitf-m1s_/разбирам че_/Cs_/че това_/Pde-os-n_/това е_/Vxitf-r3s_/е вид_/Ncmsi_/вид любов_/Ncfsi_/любов ._/PT_SENT_/. 
[15]  И_/Cp_/и моята_/Psol-s1fd_/моята любов_/Ncfsi_/любов към_/R_/към научната_/Afsd_/научен фантастика_/Ncfsi_/фантастика 
[16]  И_/Cp_/и моята_/Psol-s1fd_/моята любовна_/Afsi_/любовен афера_/Ncfsi_/афера с_/R_/с океана_/Ncmsh_/океан продължава_/Vpitf-r3s_/продължавам ,_/PT_/, 
[17]  Това_/Pde-os-n_/това ще_/Tx_/ще бъде_/Vyptf-r3s_/бъде този_/Pde-os-m_/този епичен_/Amsi_/епичен ,_/PT_/, романтичен_/Amsi_/романтичен ,_/PT_/, 
[18]  възможността_/Ncfsd_/възможност за_/R_/за любов_/Ncfsi_/любов --_/A-pi_/<unknown> 
[19]  Готов_/Ncmsi_/<unknown> ли_/Ti_/ли си_/Vxitf-r2s_/си да_/Tx_/да поставиш_/Vpptf-r2s_/поставя това_/Pde-os-n_/това в_/R_/в свой_/Psxlos-mi_/свой собствен_/Amsi_/собствен любим_/Amsi_/любим човек_/Ncmsi_/човек ,_/PT_/, собственото_/Ansd_/собствен си_/Ppxtd_/си дете_/Ncnsi_/дете ,_/PT_/, 
[20]  но_/Cc_/но си_/Ppxtd_/си имаше_/Vpitf-m3s_/имам приятелка_/Ncfsi_/приятелка в_/R_/в Англия_/Ncfsd_/<unknown> ._/PT_SENT_/. Това_/Pde-os-n_/това беше_/Vxitf-t3s_/беше любовта_/Ncfsd_/любов на_/R_/на живота_/Ncmsh_/живот му_/Psot--3--m_/му ,_/PT_/, Сара_/Vpitf-r1s_/<unknown> ._/PT_SENT_/. 
[21]  Малкият_/Amsf_/малък жест_/Ncmsi_/жест от_/R_/от приемния_/Amsh_/приемен ми_/Psot--1_/ми баща_/Ncmsi_/баща 
[22]  с_/R_/с най-малкия_/Amsh_/<unknown> жест_/Ncmsi_/жест на_/R_/на обич_/Ncfsi_/обич ._/PT_SENT_/. 
[23]  вашият_/Pshl-s2mf_/вашият жест_/Ncmsi_/жест на_/R_/на любов_/Ncfsi_/любов и_/Cp_/и внимание_/Ncnsi_/внимание 
[24]  че_/Cs_/че любовта_/Ncfsd_/любов ми_/Psot--1_/ми към_/R_/към коли_/Ncfpi_/кола и_/Cp_/и камиони_/Ncmpi_/камион 
[25]  Било_/Vpptcao-sni_/<unknown> лято_/Ncnsi_/лято на_/R_/на любов_/Ncfsi_/любов ако_/Cs_/ако си_/Vxitf-r2s_/си бял_/Amsi_/бял ._/PT_SENT_/. 
[26]  Приемната_/Ncfsd_/приемна ми_/Psot--1_/ми майка_/Ncfsi_/майка ме_/Ppetas1_/ме отпрати_/Vpptf-o3s_/отпратя като_/Cs_/като ми_/Ppetds1_/ми каза_/Vpptf-o3s_/кажа да_/Tx_/да си_/Ppxtd_/си помисля_/Vpptf-r1s_/помисля за_/R_/за любовта_/Ncfsd_/любов ,_/PT_/, 
[27]  в_/R_/в търсене_/Ncnsi_/търсене на_/R_/на любовта_/Ncfsd_/любов ._/PT_SENT_/. Място_/Ncnsi_/място ,_/PT_/, където_/Prl_/където повредата_/Ncfsd_/повреда 
[28]  Любовта_/Ncfsd_/любов и_/Cp_/и мира_/Ncmsh_/мир бяха_/Vxitf-t3p_/бяха споменати_/Vpptcv--p-i_/спомена ._/PT_SENT_/. 
[29]  КА_/Ncfsi_/<unknown> :_/PT_SENT_/: Любов_/Ncfsi_/любов и_/Cp_/и мир_/Ncmsi_/мир бяха_/Vxitf-t3p_/бяха споменати_/Vpptcv--p-i_/спомена ,_/PT_/, 
[30]  На_/R_/на езика_/Ncmsh_/език суахили_/Vpptcao-p-i_/<unknown> Мапендо_/Dm_/<unknown> означава_/Vpitf-r3s_/означавам голяма_/Afsi_/голям любов_/Ncfsi_/любов ._/PT_SENT_/. 
[31]  "_/PT_/" Любовта_/Ncfsd_/любов и_/Cp_/и състраданието_/Ncnsd_/състрадание са_/Vxitf-r3p_/са нужди_/Ncfpi_/нужда ._/PT_SENT_/. 
[32]  в_/R_/в Буда_/Ncmsh_/<unknown> на_/R_/на любовта_/Ncfsd_/любов и_/Cp_/и добротата_/Ncfsd_/доброта ._/PT_SENT_/. 
[33]  Това_/Pde-os-n_/това бе_/Te_/бе енергия_/Ncfsi_/енергия ,_/PT_/, любов_/Ncfsi_/любов и_/Cp_/и радост_/Ncfsi_/радост ._/PT_SENT_/. 
[34]  са_/Vxitf-r3p_/са любовта_/Ncfsd_/любов и_/Cp_/и работата_/Ncfsd_/работа ._/PT_SENT_/. 
[35]  Любов_/Ncmsi_/<unknown> :_/PT_SENT_/: успешно_/Ansi_/успешен управление_/Ncnsi_/управление 
[36]  Има_/Vnitf-r3s_/има много_/Md-pi_/много любов_/Ncfsi_/любов във_/R_/във въздуха_/Ncmsh_/въздух ._/PT_SENT_/. 
[37]  То_/Ppe-os3n_/то е_/Vxitf-r3s_/е също_/Dm_/също така_/Pdm_/така голямата_/Afsd_/голям ми_/Psot--1_/ми любов_/Ncfsi_/любов за_/R_/за цял_/Amsi_/цял живот_/Ncmsi_/живот и_/Cp_/и моята_/Psol-s1fd_/моята магия_/Ncfsi_/магия ._/PT_SENT_/. 
[38]  само_/Dd_/само заради_/R_/заради това_/Pde-os-n_/това ,_/PT_/, че_/Cs_/че притежаваш_/Vpitf-r2s_/притежавам чистата_/Afsd_/чист човешка_/Afsi_/човешки любов_/Ncfsi_/любов и_/Cp_/и инат_/Ncmsi_/инат 
[39]  Този_/Pde-os-m_/този проект_/Ncmsi_/проект се_/Ppxta_/се казва_/Vpitf-r3s_/казвам "_/PT_/" Любовни_/A-pi_/любовен гнезда_/Ncnpi_/гнездо "_/PT_/" ._/PT_SENT_/. 
[40]  И_/Cp_/и това_/Pde-os-n_/това се_/Ppxta_/се нарича_/Vpitf-r3s_/наричам "_/PT_/" Гнездото_/Ncnsd_/гнездо на_/R_/на кичура_/Ncmsh_/кичур коса_/Ncfsi_/коса "_/PT_/" 
[41]  Тази_/Pde-os-f_/тази се_/Ppxta_/се нарича_/Vpitf-r3s_/наричам "_/PT_/" Гнездото_/Ncnsd_/гнездо на_/R_/на касетата_/Ncfsd_/касета с_/R_/с любовни_/A-pi_/любовен песни_/Ncfpi_/песен "_/PT_/" ._/PT_SENT_/. 
[42]  И_/Cp_/и тази_/Pde-os-f_/тази се_/Ppxta_/се нарича_/Vpitf-r3s_/наричам "_/PT_/" Гнездо_/Dm_/<unknown> за_/R_/за правене_/Ncnsi_/правене на_/R_/на любов_/Ncfsi_/любов "_/PT_/" ._/PT_SENT_/. 
[43]  Преди_/R_/преди всичко_/Pce-os-n_/всичко ,_/PT_/, научих_/Vpptf-o1s_/науча се_/Ppxta_/се да_/Tx_/да обичам_/Vpitf-r1s_/обичам ._/PT_SENT_/. 
[44]  Любовта_/Ncfsd_/любов е_/Vxitf-r3s_/е нещо_/Pfe-os-ni_/нещо ,_/PT_/, което_/Pre-os-n_/което откриваш_/Vpitf-r2s_/откривам ._/PT_SENT_/. 
[45]  Първо_/Dt_/първо е_/Vxitf-r3s_/е любовта_/Ncfsd_/любов ._/PT_SENT_/. 
[46]  е_/Vxitf-r3s_/е ,_/PT_/, както_/Prm_/както казваме_/Vpitf-r1p_/казвам ,_/PT_/, любов_/Ncfsi_/любов ._/PT_SENT_/. 
[47]  и_/Cp_/и да_/Tx_/да отнесем_/Vpptf-r1p_/отнеса тази_/Pde-os-f_/тази грижовност_/Ncfsi_/грижовност ,_/PT_/, любов_/Ncfsi_/любов ,_/PT_/, уважение_/Ncnsi_/уважение ,_/PT_/, 
[48]  и_/Cp_/и дори_/Te_/дори понякога_/Pft_/понякога на_/R_/на елементи_/Ncmpi_/елемент на_/R_/на любов_/Ncfsi_/любов ._/PT_SENT_/. 
[49]  "_/PT_/" По-добре_/Ncms-v_/<unknown> да_/Tx_/да се_/Ppxta_/се отдадеш_/Vpptf-r2s_/отдам ,_/PT_/, 
[50]  състрадание_/Ncnsi_/състрадание и_/Cp_/и любов_/Ncfsi_/любов ,_/PT_/, 
[51]  обич_/Ncfsi_/обич ,_/PT_/, състрадание_/Ncnsi_/състрадание ,_/PT_/, въображение_/Ncnsi_/въображение 
[52]  на_/R_/на общността_/Ncfsd_/общност и_/Cp_/и любовта_/Ncfsd_/любов ._/PT_SENT_/. 
[53]  Анонимен_/Ncmsi_/<unknown> :_/PT_SENT_/: Мили_/Ams-e_/мил Fox_/Ncmsi_/<unknown> News_/Ncms-v_/<unknown> ,_/PT_/, 
[54]  Тук_/Pdl_/тук съм_/Vxitf-r1s_/съм за да_/Ncmsh_/<unknown> ви_/Psht--2_/ви разкажа_/Vpptf-r1s_/разкажа за_/R_/за откачената_/Vpptcv--sfd_/откача любов_/Ncfsi_/любов ,_/PT_/, 
[55]  психологичен_/Amsi_/психологичен капан_/Ncmsi_/капан прикрит_/Vpptcv--smi_/прикрия от_/R_/от любовта_/Ncfsd_/любов ,_/PT_/, 
[56]  Аз_/Ppe-os1_/аз успях_/Vppif-o1s_/успея да_/Tx_/да приключа_/Vpptf-r1s_/приключа с_/R_/с лудата_/Afsd_/луд си_/Psxto_/си любовна_/Afsi_/любовен история_/Ncfsi_/история ,_/PT_/, 
[57]  любовно_/Ansi_/любовен стихотворение_/Ncnsi_/стихотворение ,_/PT_/, каквото_/Pre--s_/каквото не_/Tn_/не бях_/Vxitf-t1s_/бях чувала_/Vpitcao-sfi_/чувам дотогава_/Pdt_/дотогава ._/PT_SENT_/. 
[58]  е_/Vxitf-r3s_/е чрез_/R_/чрез обещанието_/Ncnsd_/обещание за_/R_/за секс_/Ncmsi_/секс и_/Cp_/и любов_/Ncfsi_/любов ._/PT_SENT_/. 
[59]  но_/Cc_/но любовта_/Ncfsd_/любов не_/Tn_/не беше_/Vxitf-t3s_/беше сред_/R_/сред тях_/Ppelap3_/тях ._/PT_SENT_/. 
[60]  името_/Ncnsd_/име й_/Psot--3--f_/й означава_/Vpitf-r3s_/означавам любов_/Ncfsi_/любов 
[61]  и_/Cp_/и любов_/Ncfsi_/любов и_/Cp_/и състрадание_/Ncnsi_/състрадание -_/PT_/- те_/Ppe-op3_/те създават_/Vpitf-r3p_/създавам уважение_/Ncnsi_/уважение за_/R_/за цял_/Amsi_/цял живот_/Ncmsi_/живот ._/PT_SENT_/. 
[62]  толкова_/Pdq_/толкова обич_/Ncfsi_/обич и_/Cp_/и толкова_/Pdq_/толкова състрадание_/Ncnsi_/състрадание ._/PT_SENT_/. 
[63]  а_/Cp_/а най-добрият_/Amsf_/<unknown> компютър_/Ncmsi_/компютър ._/PT_SENT_/. Дадена_/Vpptcv--sfi_/дам му_/Ppetds3m_/му е_/Vxitf-r3s_/е любов_/Ncfsi_/любов ,_/PT_/, 
[64]  имащи_/Vpitcar-p-i_/имам всичко_/Pce-os-n_/всичко -_/PT_/- любов_/Ncfsi_/любов ,_/PT_/, обучение_/Ncnsi_/обучение ,_/PT_/, пари_/Ncfpi_/пара ,_/PT_/, 
[65]  и_/Cp_/и там_/Pdl_/там ще_/Tx_/ще срещнали_/Vpptcao-p-i_/срещна любовта_/Ncfsd_/любов на_/R_/на живота_/Ncmsh_/живот си_/Psxto_/си ._/PT_SENT_/. 
[66]  А_/Cp_/а това_/Pde-os-n_/това ,_/PT_/, което_/Pre-os-n_/което всъщност_/Dd_/всъщност ни_/Ppetdp1_/ни трябва_/Vpiif-r3s_/трябвам ,_/PT_/, е_/Vxitf-r3s_/е близост_/Ncfsi_/близост и_/Cp_/и любов_/Ncfsi_/любов -_/PT_/- четвъртата_/Afsd_/<unknown> нужда_/Ncfsi_/нужда ._/PT_SENT_/. 
[67]  защото_/Cs_/защото любовта_/Ncfsd_/любов е_/Vxitf-r3s_/е прекалено_/Dq_/прекалено страшна_/Afsi_/страшен ._/PT_SENT_/. Не_/Tn_/не искаме_/Vpitf-r1p_/искам да_/Tx_/да ни_/Ppetap1_/ни наранят_/Vpptf-r3p_/нараня ._/PT_SENT_/. 
[68]  или_/Cp_/или любовта_/Ncfsd_/любов ?_/PT_SENT_/? Нужни_/A-pi_/нужен са_/Vxitf-r3p_/са ни_/Ppetdp1_/ни всичкии_/Ncfpi_/<unknown> 6_/Monsi_/6 ,_/PT_/, но_/Cc_/но тази_/Pde-os-f_/тази ,_/PT_/, която_/Pre-os-f_/която 
[69]  Всеки_/Pce-os-m_/всеки от_/R_/от тях_/Ppelap3_/тях е_/Vxitf-r3s_/е в_/R_/в романтична_/Afsi_/романтичен връзка_/Ncfsi_/връзка 
[70]  живот_/Ncmsi_/живот в_/R_/в работата_/Ncfsd_/работа ,_/PT_/, родителството_/Ncnsd_/родителство ,_/PT_/, любовта_/Ncfsd_/любов ,_/PT_/, свободното_/Ansd_/свободен време_/Ncnsi_/време ,_/PT_/, времето_/Ncnsd_/време спира_/Vpitf-r3s_/спирам за_/R_/за теб_/Ppelas2_/теб ._/PT_SENT_/. 
[71]  Но_/Cc_/но на_/R_/на третата_/Mofsd_/третата велика_/Afsi_/велик житейска_/Afsi_/житейски арена_/Ncfsi_/арена ,_/PT_/, любовта_/Ncfsd_/любов ,_/PT_/, Лен_/Ncmsf_/<unknown> преживя_/Vpptf-o3s_/преживея бездънен_/Amsi_/бездънен провал_/Ncmsi_/провал ._/PT_SENT_/. 
[72]  Да_/Tx_/да преобразиш_/Vpptf-r2s_/преобразя работата_/Ncfsd_/работа си_/Psxto_/си ,_/PT_/, любовта_/Ncfsd_/любов си_/Psxto_/си ,_/PT_/, 
[73]  Ерез_/Ncmsi_/<unknown> Лийберман_/Vpptcv--smi_/<unknown> Айден_/Ncmsi_/<unknown> :_/PT_SENT_/: Всеки_/Pce-os-m_/всеки знае_/Vpiif-r3s_/зная ,_/PT_/, 
[74]  никога_/Pnt_/никога няма_/Vpitf-r3s_/нямам да_/Tx_/да постави_/Vpptf-r3s_/поставя и_/Cp_/и петънце_/Ncfs-v_/<unknown> 
[75]  Той_/Ppe-os3m_/той пише_/Vpitf-r3s_/пиша това_/Pde-os-n_/това на_/R_/на своята_/Psxlos-fd_/своята възлюбена_/Ncfsi_/възлюбена ,_/PT_/, 
[76]  Тя_/Ppe-os3f_/тя е_/Vxitf-r3s_/е израз_/Ncmsi_/израз на_/R_/на любов_/Ncfsi_/любов ._/PT_SENT_/. Тя_/Ppe-os3f_/тя е_/Vxitf-r3s_/е израз_/Ncmsi_/израз на_/R_/на -_/PT_/- 
[77]  Изкуството_/Ncmsi_/<unknown> ,_/PT_/, в_/R_/в платоническия_/Amsh_/платонически смисъл_/Ncmsi_/смисъл ,_/PT_/, е_/Vxitf-r3s_/е истина_/Ncfsi_/истина ,_/PT_/, то_/Ppe-os3n_/то е_/Vxitf-r3s_/е красота_/Ncfsi_/красота и_/Cp_/и любов_/Ncfsi_/любов ._/PT_SENT_/. 
[78]  Ние_/Ppe-op1_/ние всъщност_/Dd_/всъщност нямаме_/Vpitf-r1p_/нямам проблем_/Ncmsi_/проблем да_/Tx_/да говорим_/Vpitf-r1p_/говоря за_/R_/за любов_/Ncfsi_/любов ._/PT_SENT_/. 
[79]  Е_/Ncmsi_/<unknown> ,_/PT_/, това_/Pde-os-n_/това преживяване_/Ncnsi_/преживяване на_/R_/на любов_/Ncfsi_/любов и_/Cp_/и преживяването_/Ncnsd_/преживяване на_/R_/на дизайна_/Ncmsh_/дизайн за_/R_/за мен_/Ppelas1_/мен 
[80]  Открих_/Vpitf-r3s_/<unknown> нещо_/Pfe-os-ni_/нещо за_/R_/за любота_/Ncmsh_/<unknown> и_/Cp_/и дизайна_/Ncmsh_/дизайн чрез_/R_/чрез един_/Pfe-os-mi_/един проект_/Ncmsi_/проект ,_/PT_/, наречен_/Vpptcv--smi_/нарека Тъмносиньо_/Ncmsi_/<unknown> ._/PT_SENT_/. 
[81]  че_/Cs_/че думата_/Ncfsd_/дума любов_/Ncfsi_/любов може_/Vpiif-r3s_/мога да_/Tx_/да се_/Ppxta_/се извади_/Vpptf-r3s_/извадя от_/R_/от много_/Md-pi_/много неща_/Pfe-op--i_/неща в_/R_/в нашето_/Pszl-s1nd_/нашето общество_/Ncnsi_/общество ,_/PT_/, 
[82]  Той_/Ppe-os3m_/той каза_/Vpptf-o3s_/кажа :_/PT_SENT_/: "_/PT_/" Любовта_/Ncfsd_/любов не_/Tn_/не е_/Vxitf-r3s_/е себична_/Afsi_/себичен ._/PT_SENT_/. 
[83]  Любовта_/Ncfsd_/любов не_/Tn_/не значи_/Vpiif-r3s_/знача да_/Tx_/да броиш_/Vpitf-r2s_/броя колко_/Piq_/колко пъти_/Ncmt_/път казвам_/Vpitf-r1s_/казвам "_/PT_/" Обичам_/Vpitf-r1s_/обичам те_/Ppetas2_/те "_/PT_/" ._/PT_SENT_/. 
[84]  Любовта_/Ncfsd_/любов не_/Tn_/не е_/Vxitf-r3s_/е себична_/Afsi_/себичен ._/PT_SENT_/. "_/PT_/" Мислих_/Vpitf-o1s_/мисля за_/R_/за това_/Pde-os-n_/това и_/Cp_/и си_/Ppxtd_/си казах_/Vpptf-o1s_/кажа :_/PT_SENT_/: 
[85]  "_/PT_/" Май_/Vpptz--2s_/<unknown> не_/Tn_/не показвам_/Vpitf-r1s_/показвам любов_/Ncfsi_/любов тук_/Pdl_/тук ._/PT_SENT_/. Сериозно_/Dm_/сериозно ,_/PT_/, не_/Tn_/не показвам_/Vpitf-r1s_/показвам любов_/Ncfsi_/любов ._/PT_SENT_/. 
[86]  Върнахме_/Dm_/<unknown> колата_/Ncfsd_/кола обратно_/Dl_/обратно в_/R_/в центъра_/Ncmsh_/център на_/R_/на мислите_/Ncfpd_/мисъл си_/Psxto_/си ,_/PT_/, 
[87]  Много_/Md-pi_/много може_/Vpiif-r3s_/мога да_/Tx_/да се_/Ppxta_/се каже_/Vpptf-r3s_/кажа за_/R_/за доверието_/Ncnsd_/доверие и_/Cp_/и любовта_/Ncfsd_/любов ,_/PT_/, 
[88]  Вярно_/Dm_/вярно е_/Vxitf-r3s_/е ,_/PT_/, че_/Cs_/че си_/Ppxtd_/си заслужава_/Vpitf-r3s_/заслужавам заради_/R_/заради доверието_/Ncnsd_/доверие и_/Cp_/и любовта_/Ncfsd_/любов ._/PT_SENT_/. 
[89]  "_/PT_/" Исусе_/Ncms-v_/<unknown> ,_/PT_/, това_/Pde-os-n_/това дете_/Ncnsi_/дете вече_/Dt_/вече е_/Vxitf-r3s_/е започнало_/Vpitcao-sni_/<unknown> ._/PT_SENT_/. "_/PT_/" 
[90]  и_/Cp_/и беше_/Vxitf-t3s_/беше любов_/Ncfsi_/любов от_/R_/от пръв_/Amsi_/пръв поглед_/Ncmsi_/поглед ._/PT_SENT_/. 
[91]  Как_/Pim_/как започна_/Vpptf-o3s_/започна ?_/PT_SENT_/? Ами_/Cc_/ами забележете_/Vpptz--2p_/забележа вниманието_/Ncnsd_/внимание към_/R_/към детайлите_/Ncmpd_/детайл на_/R_/на Хосе_/Ncfsd_/<unknown> ._/PT_SENT_/. 
[92]  Но_/Cc_/но най-важното_/Vpitcao-snd_/<unknown> ,_/PT_/, просто_/Dd_/просто ги_/Ppetap3_/ги обичайте_/Vpitz--2p_/обичам ._/PT_SENT_/. 
[93]  Нищо_/Pne-os-ni_/нищо не_/Tn_/не работи_/Vpitf-r3s_/работя като_/R_/като безусловната_/Afsd_/безусловен любов_/Ncfsi_/любов ._/PT_SENT_/. 
[94]  знае_/Vpiif-r3s_/зная ,_/PT_/, че_/Cs_/че любовта_/Ncfsd_/любов прави_/Vpitf-r3s_/правя нещата_/Pfe-op--d_/нещата истински_/Dm_/истински ._/PT_SENT_/. 
[95]  Страст_/Ncmsi_/<unknown> ,_/PT_/, това_/Pde-os-n_/това е_/Vxitf-r3s_/е най-голямата_/Ncfsd_/<unknown> ти_/Psot--2_/ти любов_/Ncfsi_/любов ._/PT_SENT_/. 
[96]  най-голямата_/Afsd_/<unknown> си_/Psxto_/си любов_/Ncfsi_/любов измежду_/R_/измежду всички_/Pce-op_/всички други_/A-pi_/друг неща_/Pfe-op--i_/неща ,_/PT_/, 
[97]  да_/Tx_/да изброи_/Vpptf-r3s_/изброя своята_/Psxlos-fd_/своята любов_/Ncfsi_/любов към_/R_/към нея_/Ppelas3f_/нея ._/PT_SENT_/. 
[98]  на_/R_/на само_/Dd_/само едно_/Mcnsi_/едно нещо_/Pfe-os-ni_/нещо :_/PT_SENT_/: любов_/Ncfsi_/любов ,_/PT_/, 
[99]  любов_/Ncfsi_/любов към_/R_/към страната_/Ncfsd_/страна ,_/PT_/, към_/R_/към изкачването_/Ncnsd_/изкачване 
[100]  любов_/Ncfsi_/любов и_/Cp_/и уважение_/Ncnsi_/уважение 
[101]  любов_/Ncfsi_/любов и_/Cp_/и уважение_/Ncnsi_/уважение към_/R_/към себе си_/Ppxla_/себе_си ,_/PT_/, 
[102]  т.е._/Ncfpi_/<unknown> правят_/Vpitf-r3p_/правя го_/Ppetas3m_/го за_/R_/за кеф_/Ncmsi_/кеф ,_/PT_/, 
[103]  нека_/Tv_/нека бъдем_/Vyptf-r1p_/бъдем обичащи_/Vpitcar-p-i_/обичам и_/Cp_/и обичани_/Vpitcv--p-i_/обичам ;_/PT_/; 
[104]  след_/R_/след получаване_/Ncnsi_/получаване на_/R_/на жалба_/Ncfsi_/жалба от_/R_/от американския_/Amsh_/американски сенатор_/Ncmsi_/сенатор Джо_/Amsi_/<unknown> Либерман_/Ncmsi_/<unknown> ,_/PT_/, 
[105]  също_/Dm_/също ни_/Ppetap1_/ни учат_/Vpitf-r3p_/уча на_/R_/на любов_/Ncfsi_/любов и_/Cp_/и доверие_/Ncnsi_/доверие ._/PT_SENT_/. 
[106]  и_/Cp_/и тази_/Pde-os-f_/тази любов_/Ncfsi_/любов можеше_/Vpiif-m3s_/мога да_/Tx_/да се_/Ppxta_/се почувства_/Vpptf-r3s_/почувствам по време на_/Vpptf-o2s_/<unknown> проповедите_/Ncfpd_/проповед ,_/PT_/, които_/Pre-op_/които даваше_/Vpitf-m3s_/давам 
[107]  които_/Pre-op_/които са_/Vxitf-r3p_/са ни_/Ppetdp1_/ни почитатели_/Ncmpi_/почитател ,_/PT_/, дали_/Ti_/дали биха_/Vxitu-o3p_/биха искали_/Vpitcao-p-i_/искам да_/Tx_/да се_/Ppxta_/се присъединят_/Vpptf-r3p_/присъединя към_/R_/към нас_/Ppelap1_/нас на_/R_/на сцената_/Ncfsd_/сцена ,_/PT_/, 
[108]  една_/Mcfsi_/една 45_/Mofsi_/@card@ годишна_/Afsi_/годишен любовна_/Afsi_/любовен история_/Ncfsi_/история 
[109]  и_/Cp_/и определено_/Dm_/определено не_/Tn_/не демонстрират_/Vpitf-r3p_/демонстрирам никаква_/Pna--s-f_/никаква обич_/Ncfsi_/обич към_/R_/към тях_/Ppelap3_/тях ._/PT_SENT_/. 
[110]  И_/Cp_/и се_/Ppxta_/се страхуваме_/Vpiif-r1p_/страхувам ,_/PT_/, като_/Cs_/като скоро_/Dt_/скоро влюбените_/A-pd_/влюбен ,_/PT_/, 
[111]  защото_/Cs_/защото когато_/Prt_/когато попитате_/Vpptf-r2p_/попитам хората_/Nc-ld_/хора за_/R_/за любовта_/Ncfsd_/любов ,_/PT_/, 
[112]  те_/Ppetas2_/те имат_/Vpitf-r3p_/имам силно_/Ansi_/силен чувство_/Ncnsi_/чувство за_/R_/за любов_/Ncfsi_/любов и_/Cp_/и принадлежност_/Ncfsi_/принадлежност ,_/PT_/, 
[113]  силно_/Ansi_/силен чувство_/Ncnsi_/чувство за_/R_/за любов_/Ncfsi_/любов и_/Cp_/и притежание_/Ncnsi_/притежание ,_/PT_/, 
[114]  силното_/Ansd_/силен чувство_/Ncnsi_/чувство за_/R_/за любов_/Ncfsi_/любов и_/Cp_/и принадлежност_/Ncfsi_/принадлежност 
[115]  вярваха_/Vpitf-m3p_/вярвам ,_/PT_/, че_/Cs_/че заслужават_/Vpitf-r3p_/заслужавам любовта_/Ncfsd_/любов ._/PT_SENT_/. 
[116]  принадлежността_/Ncfsd_/принадлежност и_/Cp_/и любовта_/Ncfsd_/любов ._/PT_SENT_/. 
[117]  но_/Cc_/но наистина_/Dm_/наистина си_/Vxitf-r2s_/си достойна_/Afsi_/достоен за_/R_/за любов_/Ncfsi_/любов и_/Cp_/и принадлежност_/Ncfsi_/принадлежност ._/PT_SENT_/. "_/PT_/" 
[118]  "_/PT_/" Намерих_/Vpptf-o1s_/намеря истинска_/Afsi_/истински любов_/Ncfsi_/любов ,_/PT_/, омъжена_/Vpptcv--sfi_/омъжа за_/R_/за друг_/Amsi_/друг ._/PT_SENT_/. "_/PT_/" 
[119]  Хората_/Nc-ld_/хората обичат_/Vpitf-r3p_/обичам ли_/Ti_/ли дъщерите_/Ncfpd_/дъщеря си_/Psxto_/си 
[120]  да_/Tx_/да ,_/PT_/, предполагам_/Vpitf-r1s_/предполагам че_/Cs_/че е_/Vxitf-r3s_/е възможно_/Dd_/възможно да_/Tx_/да чувстваш_/Vpitf-r2s_/чувствам обич_/Ncfsi_/обич ._/PT_SENT_/. 
[121]  изпълнено_/Vpptcv--sni_/изпълня със_/R_/със смях_/Ncmsi_/смях и_/Cp_/и любов_/Ncfsi_/любов ,_/PT_/, в_/R_/в много_/Md-pi_/много сплотено_/Ansi_/сплотен семейство_/Ncnsi_/семейство ._/PT_SENT_/. 
[122]  като_/R_/като любов_/Ncfsi_/любов ,_/PT_/, доброта_/Ncfsi_/доброта ,_/PT_/, 
[123]  една_/Pfe-os-fi_/една босненска_/Afsi_/босненски любовна_/Afsi_/любовен песен_/Ncfsi_/песен 
[124]  и_/Cp_/и във_/R_/във връзката_/Ncfsd_/връзка между_/R_/между влюбени_/A-pi_/влюбен и_/Cp_/и родители_/Ncmpi_/родител ,_/PT_/, 
[125]  щях_/Vpiif-m1s_/ща да_/Tx_/да направя_/Vpptf-r1s_/направя зала_/Ncfsi_/зала за_/R_/за любовта_/Ncfsd_/любов ,_/PT_/, зала_/Ncfsi_/зала за_/R_/за щедростта_/Ncfsd_/щедрост ._/PT_SENT_/. 
[126]  Знам_/Ncmsh_/<unknown> че_/Cs_/че звучи_/Vpiif-r3s_/звуча невероятно_/Dd_/невероятно ,_/PT_/, 
[127]  (_/PT_/( Видео_/Ncms-v_/<unknown> )_/PT_/) Джон_/Ncmsi_/<unknown> Едуърдс_/Ncmsi_/<unknown> :_/PT_SENT_/: Ще_/Tx_/ще се_/Ppxta_/се радвам_/Vpitf-r1s_/радвам да_/Tx_/да си_/Ppxtd_/си направя_/Vpptf-r1s_/направя тест_/Ncmsi_/тест за_/R_/за бащинство_/Ncnsi_/бащинство ._/PT_SENT_/. 
[128]  или_/Cp_/или за да_/Vpitcv--smi_/<unknown> настъпи_/Vpptf-o3s_/настъпя взаимно_/Ansi_/взаимен уважение_/Ncnsi_/уважение ,_/PT_/, или_/Cp_/или любов_/Ncfsi_/любов ._/PT_SENT_/. 
[129]  че_/Cs_/че ще_/Tx_/ще се_/Ppxta_/се ожените_/Vpptf-r2p_/оженя за_/R_/за ученическата_/Afsd_/ученически си_/Psxto_/си любов_/Ncfsi_/любов ,_/PT_/, 
[130]  сякаш_/Dd_/сякаш е_/Vxitf-r3s_/е излязла_/Vppicao-sfi_/изляза от_/R_/от някое_/Pfe-os-n_/някое любовно_/Ansi_/любовен стихотворение_/Ncnsi_/стихотворение ,_/PT_/, 
[131]  Можете_/Vpiif-r2p_/мога да_/Tx_/да преминете_/Vpptf-r2p_/премина от_/R_/от любов_/Ncfsi_/любов към_/R_/към омраза_/Ncfsi_/омраза ._/PT_SENT_/. 
[132]  Публика_/Ncfsi_/публика :_/PT_SENT_/: Партито_/Ncnsd_/парти ._/PT_SENT_/. С_/R_/с обич_/Ncfsi_/обич ._/PT_SENT_/. 
[133]  Дори_/Te_/дори след_/R_/след 1300_/Mc-pi_/@card@ години_/Ncfpi_/година ,_/PT_/, тези_/Pde-op_/тези двама_/Mc-pi_/двама влюбени_/A-pi_/влюбен 
[134]  Пеят_/Ncmsf_/<unknown> за_/R_/за любов_/Ncfsi_/любов ,_/PT_/, танцуват_/Vpitf-r3p_/танцувам за_/R_/за любов_/Ncfsi_/любов 
[135]  състяват_/Vpitf-r3p_/<unknown> стихове_/Ncmpi_/стих и_/Cp_/и истории_/Ncfpi_/история за_/R_/за любов_/Ncfsi_/любов ._/PT_SENT_/. 
[136]  Разказват_/Vpitf-r3p_/разказвам митове_/Ncmpi_/мит и_/Cp_/и легенди_/Ncfpi_/легенда за_/R_/за любов_/Ncfsi_/любов ._/PT_SENT_/. 
[137]  Тъгуват_/Ncmsi_/<unknown> за_/R_/за любов_/Ncfsi_/любов ,_/PT_/, живеят_/Vpitf-r3p_/живея за_/R_/за любов_/Ncfsi_/любов ._/PT_SENT_/. 
[138]  убиват_/Vpitf-r3p_/убивам от_/R_/от любов_/Ncfsi_/любов ,_/PT_/, умират_/Vpiif-r3p_/умирам за_/R_/за любов_/Ncfsi_/любов ._/PT_SENT_/. 
[139]  Антрополозите_/Ncmpd_/антрополог са_/Vxitf-r3p_/са намерили_/Vpptcao-p-i_/намеря доказателства_/Ncnpi_/доказателство за_/R_/за съществуването_/Ncnsd_/съществуване на_/R_/на романтичната_/Afsd_/романтичен любов_/Ncfsi_/любов в_/R_/в 170_/Mc-pi_/@card@ общества_/Ncnpi_/общество ._/PT_SENT_/. 
[140]  Но_/Cc_/но любовта_/Ncfsd_/любов не_/Tn_/не винаги_/Dt_/винаги е_/Vxitf-r3s_/е щастливо_/Ansi_/щастлив преживяване_/Ncnsi_/преживяване ._/PT_SENT_/. 
[141]  ние_/Ppe-op1_/ние им_/Pszt--3_/им задавахме_/Vpitf-m1p_/задавам множество_/Ncnsi_/множество въпроси_/Ncmpi_/въпрос ,_/PT_/, 
[142]  Почти_/Ncmsh_/<unknown> никой_/Pne-os-m_/никой не_/Tn_/не излиза_/Vpiif-r3s_/излизам от_/R_/от любовта_/Ncfsd_/любов жив_/Amsi_/жив ._/PT_SENT_/. 
[143]  това_/Pde-os-n_/това ,_/PT_/, което_/Pre-os-n_/което смятам_/Vpitf-r1s_/смятам за_/R_/за най-силната_/Afsd_/<unknown> любовна_/Afsi_/любовен поема_/Ncfsi_/поема на_/R_/на Земята_/Ncnpd_/<unknown> 
[144]  болка_/Ncfsi_/болка тече_/Vpiif-r3s_/тека по_/R_/по тялото_/Ncnsd_/тяло ми_/Psot--1_/ми с_/R_/с огньовете_/Ncmpd_/огън на_/R_/на любовта_/Ncfsd_/любов ми_/Psot--1_/ми към_/R_/към теб_/Ppelas2_/теб ._/PT_SENT_/. 
[145]  Болка_/Ncfsi_/болка като_/R_/като от_/R_/от цирей_/Ncmsi_/цирей ,_/PT_/, готов_/Amsi_/готов да_/Tx_/да се_/Ppxta_/се пръсне_/Vpptf-r3s_/пръсна ,_/PT_/, е_/Vxitf-r3s_/е любовта_/Ncfsd_/любов ми_/Psot--1_/ми към_/R_/към теб_/Ppelas2_/теб ,_/PT_/, 
[146]  унищожен_/Vpptcv--smi_/унищожа от_/R_/от огъня_/Ncmsh_/огън на_/R_/на любовта_/Ncfsd_/любов ми_/Psot--1_/ми към_/R_/към теб_/Ppelas2_/теб ,_/PT_/, 
[147]  Мисля_/Vpitf-r1s_/мисля за_/R_/за любовта_/Ncfsd_/любов ти_/Psot--2_/ти към_/R_/към мен_/Ppelas1_/мен ._/PT_SENT_/. 
[148]  Разкъсан_/Ncmsi_/<unknown> съм_/Vxitf-r1s_/съм от_/R_/от любовта_/Ncfsd_/любов ти_/Psot--2_/ти към_/R_/към мен_/Ppelas1_/мен ._/PT_SENT_/. 
[149]  къде_/Pil_/къде отиваш_/Vpiif-r2s_/отивам с_/R_/с любовта_/Ncfsd_/любов ми_/Psot--1_/ми ?_/PT_SENT_/? 
[150]  Спомни_/Ncmsh_/<unknown> си_/Psxto_/си какво_/Pia--s-n_/какво ти_/Ppetds2_/ти казах_/Vpptf-o1s_/кажа ,_/PT_/, любов_/Ncfsi_/любов моя_/Psol-s1fi_/моя ._/PT_SENT_/. 
[151]  Сбогом_/Ncmsi_/<unknown> ,_/PT_/, моя_/Psol-s1fi_/моя любов_/Ncfsi_/любов ,_/PT_/, сбогом_/I_/сбогом ._/PT_SENT_/. "_/PT_/" 
[152]  Романтичната_/Afsd_/романтичен любов_/Ncfsi_/любов е_/Vxitf-r3s_/е едно_/Mcnsi_/едно от_/R_/от най-мощните_/A-pd_/<unknown> преживявания_/Ncnpi_/преживяване на_/R_/на тази_/Pde-os-f_/тази Земя_/Ncfsi_/земя ._/PT_SENT_/. 
[153]  Но_/Cc_/но романтичната_/Afsd_/романтичен любова_/Ncfsi_/<unknown> е_/Vxitf-r3s_/е нещо_/Pfe-os-ni_/нещо много_/Md-pi_/много повече_/Md-pi_/повече от_/R_/от върховното_/Ansd_/върховен кокаиново_/Ansi_/кокаинов преживяване_/Ncnsi_/преживяване 
[154]  Романтината_/Afsd_/<unknown> любов_/Ncfsi_/любов е_/Vxitf-r3s_/е натрапчивост_/Ncfsi_/натрапчивост ,_/PT_/, мания_/Ncfsi_/мания ._/PT_SENT_/. Тя_/Ppe-os3f_/тя те_/Ppetas2_/те обсебва_/Vpitf-r3s_/обсебвам ._/PT_SENT_/. 
[155]  Дива_/Afsi_/див е_/Vxitf-r3s_/е любовта_/Ncfsd_/любов ._/PT_SENT_/. 
[156]  свързан_/Vpptcv--smi_/свържа с_/R_/с интензивна_/Afsi_/интензивен романтична_/Afsi_/романтичен любов_/Ncfsi_/любов ._/PT_SENT_/. 
[157]  "_/PT_/" Колкото_/Prq_/колкото по-малка_/Afsi_/<unknown> е_/Vxitf-r3s_/е надеждата_/Ncfsd_/надежда ми_/Psot--1_/ми ,_/PT_/, толкова_/Pdq_/толкова по-гореща_/Afsi_/<unknown> е_/Vxitf-r3s_/е любовта_/Ncfsd_/любов ми_/Psot--1_/ми ._/PT_SENT_/. "_/PT_/" 
[158]  Когато_/Prt_/когато любовта_/Ncfsd_/любов ти_/Psot--2_/ти е_/Vxitf-r3s_/е била_/Vxitcat-sfi_/била отхвърлена_/Vpptcv--sfi_/отхвърля ,_/PT_/, 
[159]  не_/Tn_/не само_/Dd_/само си_/Ppxtd_/си погълнат_/Vpptf-r3p_/погълна от_/R_/от чувства_/Ncnpi_/чувство на_/R_/на романтична_/Afsi_/романтичен любов_/Ncfsi_/любов ,_/PT_/, 
[160]  че_/Cs_/че романтичната_/Afsd_/романтичен любов_/Ncfsi_/любов е_/Vxitf-r3s_/е нагон_/Ncmsi_/нагон ,_/PT_/, брачен_/Amsi_/брачен нагон_/Ncmsi_/нагон ._/PT_SENT_/. 
[161]  Романтичната_/Afsd_/романтичен любов_/Ncfsi_/любов ти_/Te_/ти позволява_/Vpitf-r3s_/позволявам да_/Tx_/да фокусираш_/Vpitf-r2s_/фокусирам брачната_/Afsd_/брачен си_/Psxto_/си енергия_/Ncfsi_/енергия 
[162]  Мисля_/Vpitf-r1s_/мисля си_/Ppxtd_/си ,_/PT_/, че_/Cs_/че от_/R_/от поезията_/Ncfsd_/поезия ,_/PT_/, която_/Pre-os-f_/която съм_/Vxitf-r1s_/съм изчела_/Vpptcao-sfi_/изчета за_/R_/за романтичната_/Afsd_/романтичен любов_/Ncfsi_/любов ,_/PT_/, 
[163]  Той_/Ppe-os3m_/той казва_/Vpitf-r3s_/казвам :_/PT_SENT_/: "_/PT_/" Богът_/Ncmsf_/бог на_/R_/на любовта_/Ncfsd_/любов живее_/Vpitf-r3s_/живея в_/R_/в състояние_/Ncnsi_/състояние на_/R_/на нужда_/Ncfsi_/нужда ._/PT_SENT_/. "_/PT_/" 
[164]  Освен_/R_/освен това_/Pde-os-n_/това започнах_/Vpptf-o1s_/<unknown> да_/Tx_/да смятам_/Vpitf-r1s_/смятам ,_/PT_/, че_/Cs_/че романтичната_/Afsd_/романтичен любов_/Ncfsi_/любов е_/Vxitf-r3s_/е пристрастеност_/Ncfsi_/пристрастеност :_/PT_SENT_/: 
[165]  Имам_/Vpitf-r1s_/имам приятелка_/Ncfsi_/приятелка ,_/PT_/, която_/Pre-os-f_/която тъкмо_/Dd_/тъкмо оздравява_/Vpitf-r3s_/оздравявам след_/R_/след ужасна_/Afsi_/ужасен любовна_/Afsi_/любовен връзка_/Ncfsi_/връзка ,_/PT_/, 
[166]  романтичната_/Afsd_/романтичен любов_/Ncfsi_/любов е_/Vxitf-r3s_/е едно_/Pfe-os-ni_/едно от_/R_/от най-пристрастяващите_/Ncfpd_/<unknown> "_/PT_/" вещества_/Ncnpi_/вещество "_/PT_/" на_/R_/на Земята_/Ncnpd_/<unknown> ._/PT_SENT_/. 
[167]  на_/R_/на онова_/Pde-os-n_/онова ,_/PT_/, което_/Pre-os-n_/което ние_/Ppe-op1_/ние наричаме_/Vpitf-r1p_/наричам "_/PT_/" любов_/Ncfsi_/любов от_/R_/от пръв_/Amsi_/пръв поглед_/Ncmsi_/поглед ._/PT_SENT_/. "_/PT_/" 
[168]  това_/Pde-os-n_/това ,_/PT_/, което_/Pre-os-n_/което знам_/Vpiif-r1s_/знам за_/R_/за любовта_/Ncfsd_/любов не_/Tn_/не ме_/Ppetas1_/ме е_/Vxitf-r3s_/е повредило_/Vpptcao-sni_/повредя по_/R_/по някакъв_/Pfa--s-m_/някакъв начин_/Ncmsi_/начин ._/PT_SENT_/. 
[169]  свързани_/Vpptcv--p-i_/свържа с_/R_/с романтичната_/Afsd_/романтичен любов_/Ncfsi_/любов ,_/PT_/, 
[170]  е_/Vxitf-r3s_/е необходимо_/Dm_/необходимо да_/Tx_/да намерим_/Vpptf-r1p_/намеря отговори_/Ncmpi_/отговор и_/Cp_/и други_/A-pi_/друг които_/Pre-op_/които да_/Tx_/да зададем_/Vpptf-r1p_/задам ._/PT_SENT_/. 
[171]  и_/Cp_/и в_/R_/в някоя_/Pfe-os-f_/някоя точка_/Ncfsi_/точка --_/Vpitcao-smh_/<unknown> винаги_/Dt_/винаги ще_/Tx_/ще има_/Vpitf-r3s_/имам магия_/Ncfsi_/магия в_/R_/в любовта_/Ncfsd_/любов ,_/PT_/, 
[172]  Моето_/Psol-s1nd_/моето заключително_/Ansi_/заключителен твърдение_/Ncnsi_/твърдение е_/Vxitf-r3s_/е :_/PT_SENT_/: любовта_/Ncfsd_/любов е_/Vxitf-r3s_/е в_/R_/в нас_/Ppelap1_/нас ._/PT_SENT_/. 
[173]  че_/Cs_/че първата_/Afsd_/първи ми_/Psot--1_/ми любов_/Ncfsi_/любов беше_/Vxitf-t3s_/беше момиче_/Ncnsi_/момиче ._/PT_SENT_/. 
[174]  където_/Prl_/където някакви_/Pfa--p_/някакви умници_/Ncmpi_/умник по_/R_/по националната_/Afsd_/национален телевизия_/Ncfsi_/телевизия определяха_/Vpitf-o3p_/определям нашата_/Pszl-s1fd_/нашата любов_/Ncfsi_/любов като_/R_/като зверство_/Ncnsi_/зверство ._/PT_SENT_/. 
[175]  То_/Ppe-os3n_/то е_/Vxitf-r3s_/е моето_/Psol-s1nd_/моето бебе_/Ncnsi_/бебе и_/Cp_/и е_/Vxitf-r3s_/е изпълнено_/Vpptcv--sni_/изпълня с_/R_/с обич_/Ncfsi_/обич ._/PT_SENT_/. "_/PT_/" 
[176]  И_/Cp_/и това_/Pde-os-n_/това са_/Vxitf-r3p_/са всички_/Pce-op_/всички тези_/Pde-op_/тези различни_/A-pi_/различен неща_/Pfe-op--i_/неща --_/Vpptz--2p_/<unknown> любовта_/Ncfsd_/любов към_/R_/към детето_/Ncnsd_/дете ми_/Psot--1_/ми ._/PT_SENT_/. 
[177]  И_/Cp_/и мисля_/Vpitf-r1s_/мисля ,_/PT_/, че_/Cs_/че знаем_/Vpiif-r1p_/зная как_/Pim_/как любовта_/Ncfsd_/любов в_/R_/в нас_/Ppelap1_/нас е_/Vxitf-r3s_/е достатъчно_/Dq_/достатъчно устойчива_/Afsi_/устойчив ,_/PT_/, 
[178]  това_/Pde-os-n_/това може_/Vpiif-r3s_/мога да_/Tx_/да превърне_/Vpptf-r3s_/превърна историите_/Ncfpd_/история ни_/Pszt--1_/ни в_/R_/в истории_/Ncfpi_/история за_/R_/за обич_/Ncfsi_/обич 
[179]  били_/Vxitcat-p-i_/били склонни_/A-pi_/склонен на_/R_/на любов_/Ncfsi_/любов ,_/PT_/, не_/Tn_/не война_/Ncfsi_/война ._/PT_SENT_/. 
[180]  Венера_/Ncfsi_/<unknown> ,_/PT_/, разбира_/Vpitf-r3s_/разбирам се_/Ppxta_/се ,_/PT_/, е_/Vxitf-r3s_/е богинята_/Ncfsd_/богиня на_/R_/на любовта_/Ncfsd_/любов и_/Cp_/и плодородието_/Ncnsd_/плодородие ,_/PT_/, 
[181]  Виждаме_/Vpitf-r1p_/виждам това_/Pde-os-n_/това и_/Cp_/и когато_/Prt_/когато любовници_/Ncmpi_/любовник преминат_/Vpptf-r3p_/премина по_/R_/по улицата_/Ncfsd_/улица ,_/PT_/, 
[182]  когато_/Prt_/когато вярващият_/Vpitcar-smf_/вярвам се_/Ppxta_/се чувства_/Vpitf-r3s_/чувствам едно_/Mcnsi_/едно с_/R_/с Божията_/Afsd_/божий любов_/Ncfsi_/любов ._/PT_SENT_/. 
[183]  И_/Cp_/и мнозина_/My-pi_/мнозина от_/R_/от нас_/Ppelap1_/нас го_/Ppetas3m_/го чувстват_/Vpitf-r3p_/чувствам като_/R_/като влюбване_/Ncnsi_/влюбване ,_/PT_/, 
[184]  когато_/Prt_/когато влюбените_/A-pd_/влюбен се_/Ppxta_/се сливат_/Vpitf-r3p_/сливам в_/R_/в едно_/Mcnsi_/едно ._/PT_SENT_/. 
[185]  позитивни_/A-pi_/позитивен емоции_/Ncfpi_/емоция като_/R_/като любопитство_/Ncnsi_/любопитство или_/Cp_/или любов_/Ncfsi_/любов ,_/PT_/, 
[186]  те_/Ppe-op3_/те искряха_/Vpiif-m3p_/искря от_/R_/от любов_/Ncfsi_/любов ,_/PT_/, силна_/Afsi_/силен любов_/Ncfsi_/любов към_/R_/към учениците_/Ncmpd_/ученик ._/PT_SENT_/. 
[187]  Това_/Pde-os-n_/това значи_/Vpiif-r3s_/знача ,_/PT_/, че_/Cs_/че комбинирам_/Vpitf-r1s_/комбинирам двете_/Mcfpd_/двете си_/Psxto_/си страсти_/Ncfpi_/страст -_/PT_/- математика_/Ncfsi_/математика и_/Cp_/и магия_/Ncfsi_/магия 
[188]  хора_/Nc-li_/хора ,_/PT_/, които_/Pre-op_/които пращат_/Vpitf-r3p_/пращам любовта_/Ncfsd_/любов си_/Psxto_/си един_/Pfe-os-mi_/един на_/R_/на друг_/Amsi_/друг ._/PT_SENT_/. 
[189]  Първо_/Dt_/първо обаче_/Dd_/обаче искам_/Vpitf-r1s_/искам да_/Tx_/да започна_/Vpptf-r1s_/започна с_/R_/с работата_/Ncfsd_/работа си_/Psxto_/си върху_/R_/върху романтичната_/Afsd_/романтичен любов_/Ncfsi_/любов ,_/PT_/, 
[190]  17_/Mc-pi_/@card@ от_/R_/от тях_/Ppelap3_/тях бяха_/Vxitf-t3p_/бяха лудо_/Dm_/лудо влюбени_/A-pi_/влюбен и_/Cp_/и чувствата_/Ncnpd_/чувство им_/Pszt--3_/им бяха_/Vxitf-t3p_/бяха споделени_/Vpptcv--p-i_/споделя ;_/PT_/; 
[191]  а_/Cp_/а после_/Dt_/после за_/R_/за бъдещето_/Ncnsd_/бъдеще на_/R_/на любовта_/Ncfsd_/любов според_/R_/според мен_/Ppelas1_/мен ._/PT_SENT_/. 
[192]  "_/PT_/" Какво_/Pia--s-n_/какво е_/Vxitf-r3s_/е да_/Tx_/да обичаш_/Vpitf-r2s_/обичам ?_/PT_SENT_/? "_/PT_/" -_/PT_/- пише_/Vpitf-r3s_/пиша Шекспир_/Ncmsi_/<unknown> ._/PT_SENT_/. 
[193]  Започнах_/Vpptf-o1s_/<unknown> изследването_/Ncnsd_/изследване на_/R_/на романтичната_/Afsd_/романтичен любов_/Ncfsi_/любов ,_/PT_/, 
[194]  Казал_/Ncfsi_/<unknown> е_/Vxitf-r3s_/е :_/PT_SENT_/: "_/PT_/" Любовта_/Ncfsd_/любов е_/Vxitf-r3s_/е преувеличаване_/Ncnsi_/преувеличаване на_/R_/на разликите_/Ncfpd_/разлика между_/R_/между една_/Pfe-os-fi_/една жена_/Ncfsi_/жена и_/Cp_/и друга_/Afsi_/друг ._/PT_SENT_/. "_/PT_/" 
[195]  Както_/Prm_/както е_/Vxitf-r3s_/е казал_/Vpptcao-smi_/кажа Чосър_/Ncmsi_/<unknown> ,_/PT_/, "_/PT_/" Любовта_/Ncfsd_/любов е_/Vxitf-r3s_/е сляпа_/Afsi_/сляп ._/PT_SENT_/. "_/PT_/" 
[196]  В_/R_/в опитите_/Ncmpd_/опит си_/Psxto_/си да_/Tx_/да разбера_/Vpptf-r1s_/разбера романтичната_/Afsd_/романтичен любов_/Ncfsi_/любов 
[197]  реших_/Vpptf-o1s_/реша да_/Tx_/да чета_/Vpitf-r1s_/чета поезия_/Ncfsi_/поезия от_/R_/от целия_/Amsh_/цял свят_/Ncmsi_/свят 
[198]  Просто_/Ansi_/прост !_/PT_SENT_/! Романтичната_/Afsd_/романтичен любов_/Ncfsi_/любов е_/Vxitf-r3s_/е просто_/Ansi_/прост нещо_/Pfe-os-ni_/нещо ._/PT_SENT_/. 
[199]  Обаче_/Vpitf-r3s_/<unknown> основното_/Ansd_/основен чувство_/Ncnsi_/чувство при_/R_/при романтичната_/Afsd_/романтичен любов_/Ncfsi_/любов е_/Vxitf-r3s_/е копнежът_/Ncmsf_/копнеж :_/PT_SENT_/: 
[200]  Започнах_/Vppif-o1s_/<unknown> да_/Tx_/да осъзнавам_/Vpitf-r1s_/осъзнавам ,_/PT_/, че_/Cs_/че романтичната_/Afsd_/романтичен любов_/Ncfsi_/любов не_/Tn_/не е_/Vxitf-r3s_/е емоция_/Ncfsi_/емоция ._/PT_SENT_/. 
[201]  Хората_/Nc-ld_/хората живеят_/Vpitf-r3p_/живея за_/R_/за любов_/Ncfsi_/любов ._/PT_SENT_/. Убиват_/Vpitf-r3p_/убивам за_/R_/за любов_/Ncfsi_/любов ._/PT_SENT_/. Умират_/Vpiif-r3p_/умирам за_/R_/за любов_/Ncfsi_/любов ._/PT_SENT_/. 
[202]  Втората_/Dm_/<unknown> от_/R_/от трите_/A-pd_/<unknown> мозъчни_/A-pi_/мозъчен системи_/Ncfpi_/система е_/Vxitf-r3s_/е романтичната_/Afsd_/романтичен любов_/Ncfsi_/любов :_/PT_SENT_/: 
[203]  тази_/Pde-os-f_/тази приповдигнатост_/Ncfsi_/приповдигнатост ,_/PT_/, обсебеност_/Ncfsi_/<unknown> при_/R_/при влюбване_/Ncnsi_/влюбване ._/PT_SENT_/. 
[204]  Смятам_/Vpitf-r1s_/смятам ,_/PT_/, че_/Cs_/че еволюцията_/Ncfsd_/еволюция на_/R_/на романтичната_/Afsd_/романтичен любов_/Ncfsi_/любов цели_/Vpitf-r3s_/целя да_/Tx_/да съсредоточаваме_/Vpitf-r1p_/съсредоточавам енергията_/Ncfsd_/енергия си_/Psxto_/си 
[205]  сексуалното_/Ansd_/сексуален желание_/Ncnsi_/желание ,_/PT_/, любовта_/Ncfsd_/любов и_/Cp_/и привързаността_/Ncfsd_/привързаност към_/R_/към партньор_/Ncmsi_/партньор ._/PT_SENT_/. 
[206]  Сега_/Dt_/сега ще_/Tx_/ще кажа_/Vpptf-r1s_/кажа само_/Dd_/само две_/Mcn-i_/две неща_/Pfe-op--i_/неща и_/Cp_/и ще_/Tx_/ще се_/Ppxta_/се върна_/Vpptf-r1s_/върна на_/R_/на секса_/Ncmsh_/секс и_/Cp_/и любовта_/Ncfsd_/любов ._/PT_SENT_/. 
[207]  Ще_/Tx_/ще спомена_/Vpptf-r1s_/спомена само_/Dd_/само две_/Mcn-i_/две и_/Cp_/и ще_/Tx_/ще премина_/Vpptf-r1s_/премина към_/R_/към секса_/Ncmsh_/секс и_/Cp_/и любовта_/Ncfsd_/любов ._/PT_SENT_/. 
[208]  за_/R_/за секса_/Ncmsh_/секс ,_/PT_/, романтиката_/Ncfsd_/романтика и_/Cp_/и семейния_/Amsh_/семеен живот_/Ncmsi_/живот ._/PT_SENT_/. 
[209]  Също_/Ncmsh_/<unknown> така_/Pdm_/така ,_/PT_/, хората_/Nc-ld_/хора днес_/Dt_/днес отдават_/Vpitf-r3p_/отдавам все_/Dq_/все по-голямо_/Ansi_/по-голямо значение_/Ncnsi_/значение на_/R_/на любовта_/Ncfsd_/любов ._/PT_SENT_/. 
[210]  В_/R_/в трите_/A-pd_/<unknown> мозъчни_/A-pi_/мозъчен системи_/Ncfpi_/система -_/PT_/- за_/R_/за секс_/Ncmsi_/секс ,_/PT_/, романтична_/Afsi_/романтичен любов_/Ncfsi_/любов ,_/PT_/, и_/Cp_/и привързаност_/Ncfsi_/привързаност -_/PT_/- 
[211]  Допаминът_/Ncmsi_/<unknown> има_/Vpitf-r3s_/имам връзка_/Ncfsi_/връзка с_/R_/с романтичната_/Afsd_/романтичен любов_/Ncfsi_/любов 
[212]  Но_/Cc_/но тези_/Pde-op_/тези три_/Vpitf-o3s_/трия мозъчни_/A-pi_/мозъчен системи_/Ncfpi_/система -_/PT_/- за_/R_/за секс_/Ncmsi_/секс ,_/PT_/, романтична_/Afsi_/романтичен любов_/Ncfsi_/любов и_/Cp_/и привързаност_/Ncfsi_/привързаност -_/PT_/- 
[213]  докато_/Cs_/докато изпитвате_/Vpitf-r2p_/изпитвам силна_/Afsi_/силен романтична_/Afsi_/романтичен любов_/Ncfsi_/любов към_/R_/към някой_/Pfe-os-m_/някой друг_/Amsi_/друг ,_/PT_/, 
[214]  ту_/Cr_/ту силна_/Afsi_/силен романтична_/Afsi_/романтичен любов_/Ncfsi_/любов към_/R_/към друг_/Amsi_/друг ._/PT_SENT_/. 
[215]  Допаминът_/Ncmsi_/<unknown> е_/Vxitf-r3s_/е свързан_/Vpptcv--smi_/свържа с_/R_/с романтичната_/Afsd_/романтичен любов_/Ncfsi_/любов ._/PT_SENT_/. 
[216]  Просто_/Ansi_/прост казвам_/Vpitf-r1s_/казвам ,_/PT_/, че_/Cs_/че свят_/Ncmsi_/свят без_/R_/без любов_/Ncfsi_/любов би_/Vxitu-o3s_/би бил_/Vxitcat-smi_/бил наистина_/Dm_/наистина ужасно_/Ansi_/ужасен място_/Ncnsi_/място ._/PT_SENT_/. 
[217]  Изучавам_/Vpitf-r1s_/изучавам романтичната_/Afsd_/романтичен любов_/Ncfsi_/любов ,_/PT_/, секса_/Ncmsh_/секс и_/Cp_/и привързаността_/Ncfsd_/привързаност от_/R_/от 30_/Mc-pi_/@card@ години_/Ncfpi_/година ._/PT_SENT_/. 
[218]  Влюбваме_/Vpitf-r1p_/<unknown> се_/Ppxta_/се в_/R_/в някого_/Pfe-as-m_/някого ,_/PT_/, който_/Pre-os-m_/който пасва_/Vpitf-r3s_/пасвам на_/R_/на нашата_/Pszl-s1fd_/нашата ,_/PT_/, както_/Prm_/както я_/Ppetas3f_/я наричам_/Vpitf-r1s_/наричам ,_/PT_/, "_/PT_/" любовна_/Afsi_/любовен карта_/Ncfsi_/карта "_/PT_/" -_/PT_/- 
[219]  Досега_/Dt_/досега ви_/Ppetdp2_/ви разказвах_/Vpitf-m1s_/разказвам за_/R_/за биологичната_/Afsd_/биологичен страна_/Ncfsi_/страна на_/R_/на любовта_/Ncfsd_/любов ._/PT_SENT_/. 
[220]  И_/Cp_/и дори_/Te_/дори да_/Tx_/да активира_/Vpptf-r3s_/активирам мозъчната_/Afsd_/мозъчен система_/Ncfsi_/система за_/R_/за романтична_/Afsi_/романтичен любов_/Ncfsi_/любов ._/PT_SENT_/. (_/PT_/( Смях_/Ncmsi_/смях )_/PT_/) 
[221]  В_/R_/в любовта_/Ncfsd_/любов има_/Vpitf-r3s_/имам магия_/Ncfsi_/магия !_/PT_SENT_/! 
[222]  към_/R_/към секс_/Ncmsi_/секс ,_/PT_/, романтична_/Afsi_/романтичен любов_/Ncfsi_/любов ,_/PT_/, и_/Cp_/и привързаност_/Ncfsi_/привързаност към_/R_/към дългосрочен_/Amsi_/дългосрочен партньор_/Ncmsi_/партньор ._/PT_SENT_/. 
[223]  с_/R_/с други_/A-pi_/друг думи_/Ncfpi_/дума -_/PT_/- коренът_/Ncmsf_/корен на_/R_/на думата_/Ncfsd_/дума ,_/PT_/, означаващ_/Vpitcar-smi_/означавам любов_/Ncfsi_/любов и_/Cp_/и страст_/Ncfsi_/страст ._/PT_SENT_/. 
[224]  Любовта_/Ncfsd_/любов ми_/Psot--1_/ми е_/Vxitf-r3s_/е като_/R_/като дванадесет_/Ncmsi_/<unknown> етиопски_/A-pi_/етиопски кози_/Ncfpi_/коза 
[225]  Не_/Tn_/не защото_/Cs_/защото прочетох_/Vpptf-o1s_/прочета за_/R_/за любов_/Ncfsi_/любов и_/Cp_/и хомосексуалност_/Ncfsi_/хомосексуалност 
[226]  "_/PT_/" Ето_/Tv_/ето я_/Ppetas3f_/я любовта_/Ncfsd_/любов ,_/PT_/, цялата_/Afsd_/цял ._/PT_SENT_/. "_/PT_/" 
[227]  Нямаше_/Vpitf-m3s_/нямам да_/Tx_/да имаме_/Vpitf-r1p_/имам достъп_/Ncmsi_/достъп до_/R_/до любовта_/Ncfsd_/любов 
[228]  "_/PT_/" Не_/Tn_/не ,_/PT_/, не_/Tn_/не ,_/PT_/, не_/Tn_/не !_/PT_SENT_/! Трябва_/Vniif-r3s_/трябва да_/Tx_/да е_/Vxitf-r3s_/е жаба_/Afsi_/жаби !_/PT_SENT_/! "_/PT_/" 
[229]  "_/PT_/" Не_/Tn_/не ._/PT_SENT_/. Трябва_/Vniif-r3s_/трябва да_/Tx_/да е_/Vxitf-r3s_/е Инспектор_/Ncmsi_/инспектор Гаджет_/Ncmsi_/<unknown> !_/PT_SENT_/! "_/PT_/" 
[230]  където_/Prl_/където дребните_/A-pd_/дребен неща_/Pfe-op--i_/неща се_/Ppxta_/се правят_/Vpitf-r3p_/правя за_/R_/за любов_/Ncfsi_/любов ,_/PT_/, 
[231]  Изведнъж_/Ncmsi_/<unknown> големите_/A-pd_/голям неща_/Pfe-op--i_/неща могат_/Vpiif-r3p_/мога да_/Tx_/да се_/Ppxta_/се правят_/Vpitf-r3p_/правя за_/R_/за любов_/Ncfsi_/любов ._/PT_SENT_/. "_/PT_/" 
[232]  Не_/Tn_/не всички_/Pce-op_/всички тези_/Pde-op_/тези големи_/A-pi_/голям експерименти_/Ncmpi_/експеримент "_/PT_/" неща_/Pfe-op--i_/неща за_/R_/за любов_/Ncfsi_/любов "_/PT_/" 
[233]  "_/PT_/" Скъпа_/Ncmsh_/<unknown> рожденна_/Afsi_/<unknown> майко_/Ncfs-v_/майка ,_/PT_/, имам_/Vpitf-r1s_/имам чудесни_/A-pi_/чудесен родители_/Ncmpi_/родител ._/PT_SENT_/. 
[234]  Намерих_/Afsi_/<unknown> любов_/Ncfsi_/любов ._/PT_SENT_/. И_/Cp_/и съм_/Vxitf-r1s_/съм щастлив_/Amsi_/щастлив ._/PT_SENT_/. "_/PT_/" 
[235]  любов_/Ncfsi_/любов и_/Cp_/и обожание_/Ncnsi_/обожание към_/R_/към него_/Ppelas3m_/него ._/PT_SENT_/. 
[236]  Мисля_/Vpitf-r1s_/мисля ,_/PT_/, че_/Cs_/че не_/Tn_/не виждам_/Vpitf-r1s_/виждам любов_/Ncfsi_/любов и_/Cp_/и обожание_/Ncnsi_/обожание в_/R_/в ляво_/Ansi_/ляв ._/PT_SENT_/. (_/PT_/( Смях_/Ncmsi_/смях )_/PT_/) 
[237]  то_/Ppe-os3n_/то е_/Vxitf-r3s_/е друг_/Amsi_/друг вид_/Ncmsi_/вид любовна_/Afsi_/любовен история_/Ncfsi_/история ._/PT_SENT_/. 
[238]  Защото_/Cs_/защото тази_/Pde-os-f_/тази любовна_/Afsi_/любовен история_/Ncfsi_/история ,_/PT_/, 
[239]  начина_/Ncmsh_/начин им_/Pszt--3_/им на_/R_/на справяне_/Ncnsi_/справяне със_/R_/със смъртта_/Ncfsd_/смърт на_/R_/на обичните_/A-pd_/обичен им_/Pszt--3_/им ?_/PT_SENT_/? 
[240]  като_/R_/като част_/Ncfsi_/част от_/R_/от съвременната_/Afsd_/съвременен любов_/Ncfsi_/любов и_/Cp_/и индивидуалистичните_/A-pd_/индивидуалистичен общности_/Ncfpi_/общност ._/PT_SENT_/. 
[241]  Каква_/Pia--s-f_/каква е_/Vxitf-r3s_/е връзката_/Ncfsd_/връзка между_/R_/между любов_/Ncfsi_/любов и_/Cp_/и желание_/Ncnsi_/желание ?_/PT_SENT_/? 
[242]  Според_/R_/според мен_/Ppelas1_/мен ,_/PT_/, ако_/Cs_/ако има_/Vpitf-r3s_/имам глагол_/Ncmsi_/глагол ,_/PT_/, който_/Pre-os-m_/който е_/Vxitf-r3s_/е свързан_/Vpptcv--smi_/свържа с_/R_/с любовта_/Ncfsd_/любов ,_/PT_/, той_/Ppe-os3m_/той е_/Vxitf-r3s_/е „_/Vpitcv--smf_/<unknown> да_/Tx_/да имам_/Vpitf-r1s_/имам “_/Ncnpd_/<unknown> ._/PT_SENT_/. 
[243]  В_/R_/в любовта_/Ncfsd_/любов ,_/PT_/, искаме_/Vpitf-r1p_/искам да_/Tx_/да имаме_/Vpitf-r1p_/имам ,_/PT_/, искаме_/Vpitf-r1p_/искам да_/Tx_/да опознаем_/Vpptf-r1p_/опозная любимия_/Amsh_/любим ._/PT_SENT_/. 
[244]  Грижовността_/Ncfsd_/грижовност е_/Vxitf-r3s_/е да_/Tx_/да обичаш_/Vpitf-r2s_/обичам много_/Md-pi_/много силно_/Dm_/силно ._/PT_SENT_/. Тя_/Ppe-os3f_/тя е_/Vxitf-r3s_/е мощен_/Amsi_/мощен антиафродизиак_/Ncmsi_/<unknown> ._/PT_SENT_/. 
[245]  В_/R_/в този_/Pde-os-m_/този парадокс_/Ncmsi_/парадокс между_/R_/между любов_/Ncfsi_/любов и_/Cp_/и желание_/Ncnsi_/желание ,_/PT_/, 
[246]  които_/Pre-op_/които подхранват_/Vpitf-r3p_/подхранвам любовта_/Ncfsd_/любов –_/Vpptcv--sfi_/<unknown> взаимност_/Ncfsi_/взаимност ,_/PT_/, 
[247]  които_/Pre-op_/които не_/Tn_/не винаги_/Dt_/винаги са_/Vxitf-r3p_/са любимци_/Ncmpi_/любимец на_/R_/на любовта_/Ncfsd_/любов :_/PT_SENT_/: 
[248]  защото_/Cs_/защото мислим_/Vpitf-r1p_/мисля ,_/PT_/, че_/Cs_/че в_/R_/в любовта_/Ncfsd_/любов трябва_/Vpiif-r3s_/трябвам да_/Tx_/да има_/Vpitf-r3s_/имам себеотдаване_/Ncnsi_/<unknown> ,_/PT_/, 
[249]  който_/Pre-os-m_/който ще_/Tx_/ще бъде_/Vyptf-r3s_/бъде обременен_/Vpptcv--smi_/обременя с_/R_/с допълнително_/Ansi_/допълнителен безпокойство_/Ncnsi_/безпокойство 
[250]  Еротичните_/Ncmpd_/<unknown> двойки_/Ncfpi_/двойка също_/Dm_/също разбират_/Vpitf-r3p_/разбирам ,_/PT_/, че_/Cs_/че страстта_/Ncfsd_/страст идва_/Vpiif-r3s_/идвам и_/Cp_/и си_/Ppxtd_/си отива_/Vpiif-r3s_/отивам ._/PT_SENT_/. 
[251]  ще_/Tx_/ще изпиташ_/Vpptf-r2s_/изпитам чувство_/Ncnsi_/чувство на_/R_/на любов_/Ncfsi_/любов ,_/PT_/, което_/Pre-os-n_/което ще_/Tx_/ще те_/Ppetas2_/те завладее_/Vpptf-r3s_/завладея ,_/PT_/, 
[252]  и_/Cp_/и аз_/Ppe-os1_/аз се_/Ppxta_/се подговях_/Vpptf-o1s_/<unknown> за_/R_/за тази_/Pde-os-f_/тази буря_/Ncfsi_/буря на_/R_/на любовта_/Ncfsd_/любов ,_/PT_/, 
[253]  Аз_/Ppe-os1_/аз бях_/Vxitf-t1s_/бях изпълнен_/Vpptcv--smi_/изпълня с_/R_/с любов_/Ncfsi_/любов и_/Cp_/и привързаност_/Ncfsi_/привързаност към_/R_/към жена_/Ncfsi_/жена ми_/Psot--1_/ми ,_/PT_/, 
[254]  Ние_/Ppe-op1_/ние начертахме_/Vpptf-o1p_/начертая 
[255]  Не_/Tn_/не ни_/Ppetdp1_/ни е_/Vxitf-r3s_/е позволено_/Vpptcv--sni_/позволя да_/Tx_/да чертаем_/Vpitf-r1p_/чертая любов_/Ncfsi_/любов ._/PT_SENT_/. 
[256]  Причината_/Ncfsd_/причината ,_/PT_/, поради_/R_/поради която_/Pre-os-f_/която не_/Tn_/не ни_/Ppetdp1_/ни е_/Vxitf-r3s_/е позволено_/Vpptcv--sni_/позволя да_/Tx_/да чертаем_/Vpitf-r1p_/чертая любов_/Ncfsi_/любов 
[257]  е_/Vxitf-r3s_/е ,_/PT_/, защото_/Cs_/защото ние_/Ppe-op1_/ние мислим_/Vpitf-r1p_/мисля за_/R_/за любовта_/Ncfsd_/любов като_/R_/като двоично_/Ansi_/двоичен нещо_/Pfe-os-ni_/нещо ._/PT_SENT_/. 
[258]  А_/Cp_/а мисля_/Vpitf-r1s_/мисля ,_/PT_/, че_/Cs_/че реалността_/Ncfsd_/реалност е_/Vxitf-r3s_/е ,_/PT_/, че_/Cs_/че любовта_/Ncfsd_/любов е_/Vxitf-r3s_/е процес_/Ncmsi_/процес ._/PT_SENT_/. 
[259]  като_/R_/като нещо_/Pfe-os-ni_/нещо ,_/PT_/, което_/Pre-os-n_/което е_/Vxitf-r3s_/е бинарно_/Ansi_/бинарен 
[260]  че_/Cs_/че любовта_/Ncfsd_/любов е_/Vxitf-r3s_/е измамна_/Afsi_/измамен ,_/PT_/, или_/Cp_/или недостатъчна_/Afsi_/недостатъчен ,_/PT_/, или_/Cp_/или какво_/Pia--s-n_/какво ли_/Ti_/ли още_/Dq_/още не_/Tn_/не ._/PT_SENT_/. 
[261]  Имаше_/Afsi_/<unknown> хубава_/Afsi_/хубав зависимост_/Ncfsi_/зависимост между_/R_/между любовта_/Ncfsd_/любов към_/R_/към Лего_/Ansi_/<unknown> 
[262]  Нямаше_/Afsi_/<unknown> връзка_/Ncfsi_/връзка между_/R_/между любовта_/Ncfsd_/любов към_/R_/към Лего_/Ncmsi_/<unknown> и_/Cp_/и колко_/Piq_/колко хората_/Nc-ld_/хора сглобяваха_/Vpitf-m3p_/сглобявам ,_/PT_/, 
[263]  скоро_/Dt_/скоро щяха_/Vpiif-m3p_/ща да_/Tx_/да се_/Ppxta_/се оженят_/Vpptf-r3p_/оженя ,_/PT_/, тя_/Ppe-os3f_/тя беше_/Vxitf-t3s_/беше любовта_/Ncfsd_/любов на_/R_/на живота_/Ncmsh_/живот му_/Psot--3--m_/му ._/PT_SENT_/. 
[264]  "_/PT_/" Вие_/Ppe-op2_/вие сте_/Vxitf-r2p_/сте тук_/Pdl_/тук на_/R_/на почивка_/Ncfsi_/почивка ,_/PT_/, нали_/Ti_/нали скъпа_/Afsi_/скъп ?_/PT_SENT_/? "_/PT_/" 
[265]  направена_/Vpptcv--sfi_/направя с_/R_/с любов_/Ncfsi_/любов ,_/PT_/, като_/R_/като цяло_/Ansi_/цял ._/PT_SENT_/. 
[266]  "_/PT_/" От_/R_/от 52_/Mc-pi_/@card@ до_/R_/до 48_/Mc-pi_/@card@ с_/R_/с любов_/Ncfsi_/любов "_/PT_/" 
[267]  "_/PT_/" Скъпи_/Vpptz--2s_/<unknown> 48_/Mofsi_/@card@ ,_/PT_/, обещавам_/Vpitf-r1s_/обещавам да_/Tx_/да Ви_/Pphtds2_/ви слушам_/Vpitf-r1s_/слушам ,_/PT_/, да_/Tx_/да се_/Ppxta_/се боря_/Vpitf-r1s_/боря за_/R_/за вас_/Pphlas2_/вас ,_/PT_/, да_/Tx_/да Ви_/Pphtds2_/ви уважавам_/Vpitf-r1s_/уважавам ,_/PT_/, винаги_/Dt_/винаги ._/PT_SENT_/. "_/PT_/" 
[268]  Аз_/Ppe-os1_/аз съм_/Vxitf-r1s_/съм щастлив_/Amsi_/щастлив да_/Tx_/да споделя_/Vpitf-r3s_/споделям малко_/Ansi_/малък повече_/Md-pi_/повече любов_/Ncfsi_/любов в_/R_/в света_/Ncmsh_/свят ,_/PT_/, 
[269]  "_/PT_/" Не_/Tn_/не носи_/Vpitf-r3s_/нося гащички_/Ncfpi_/<unknown> под_/R_/под пижамата_/Ncfsd_/пижама си_/Psxto_/си ,_/PT_/, скъпа_/Afsi_/скъп ,_/PT_/, 


